<div id="planning" style="margin-left: calc(-48vw + 50%); width: 96vw; background-color: white; padding: 10px;"></div>
<!--
In order to limit the planning's width, we cheat using the timeline's groups
I.E we set all dates to the first day (Friday) and set groups allowing vertical display:
-->
<script type="text/javascript">
	// https://visjs.org/
	// DOM element where the Timeline will be attached
	const container = document.getElementById('planning');

	const groups = new vis.DataSet([
		{id: 0, content: "Ven.", order: 0},
		{id: 1, content: "Sam.", order: 1},
		{id: 2, content: "Dim.", order: 2},
	]);

	// Items in the timeline
	const items = new vis.DataSet([
	{% for slot in planning %}
		{% if slot.start_day == slot.end_day %}
			{
				content: '<div style="background-color: yellow;"><a class="hidden" href="#{{ slot.activity.slug }}"><div><strong>{{ slot }}</strong><br>{{ slot.room|default:"" }}</div></a></div>',
				title: '<strong>{{ slot }}</strong><br>{{ slot.room|default:"" }}',
				start: '{{ slot.planning_start|date:"Y-m-d H:i:s"}}',
				align: 'left',
				group: {{ slot.start_day }},
				end:'{{ slot.planning_end|date:"Y-m-d H:i:s"}}',
				className: "color-{{ slot.color }}",
			},
		{% else %} // activity spans multiple days
			{
				content: '<a class="hidden" href="#{{ slot.activity.slug }}"><div><strong>{{ slot }}</strong><br>{{ slot.room|default:"" }}</div></a>',
				title: '<strong>{{ slot }}</strong><br>{{ slot.room|default:"" }}',
				start: '{{ slot.planning_start|date:"Y-m-d H:i:s"}}',
				align: 'left',
				group: {{ slot.start_day }},
				end:'{{ settings.date_2|date:"Y-m-d"}} 04:00:00',
				className: "color-{{ slot.color }}",
			},
			{
				content: '<a class="hidden" href="#{{ slot.activity.slug }}"><div><strong>{{ slot }}</strong><br>{{ slot.room|default:"" }}</div></a>',
				title: '<strong>{{ slot }}</strong><br>{{ slot.room|default:"" }}',
				start: '{{ settings.date_start|date:"Y-m-d"}} 04:00:00',
				align: 'left',
				group: {{ slot.end_day }},
				end:'{{ slot.planning_end|date:"Y-m-d H:i:s"}}',
				className: "color-{{ slot.color }}",
			},
		{% endif %}
	{% endfor %}
	]);

	// Configuration for the Timeline
	const start = '{{ settings.date_start|date:"Y-m-d"}} 08:00:00';
	const end = '{{ settings.date_start|date:"Y-m"}}-{{ saturday }} 04:00:00';
	const options = {
		showMajorLabels: false,
		showCurrentTime: false,
		locale: "fr",
		groupOrder: "order",
		start: start,
		min: start,
		end: end,
		max: end,
		selectable: false,
		zoomable: false,
	};

	// Create a Timeline
	const timeline = new vis.Timeline(container, items, options);
	timeline.setGroups(groups);
	// timeline.on('select', function (properties) {
	// 	alert('selected items: ' + properties.items);
	// });
</script>

<style>
	.vis-item {
		background-color: var(--color_bg_1);
		color: white;
	}
	.vis-item-content {
		width: 100%;
	}
	.vis-item a, .vis-item a:link, .vis-item a:visited {
		text-decoration: none;
		color: white;
		width: 100%;
	}
	.vis-item a div {
		width: 100%;
	}
	.vis-item:hover {
		background-color: var(--color_bg_2);
	}
	.vis-time-axis .grid.vis-odd {
		background: #444;
	}

	/* Color specific things */
	:root {
		--color_1: var(--color_bg_1);
		--color_1_hover: var(--color_bg_2);
		--color_1_fg: white;
		--color_2: #e84855;
		--color_2_hover: #da1b2b;
		--color_2_fg: white;
		--color_3: #f9dc5c;
		--color_3_hover: #f7d126;
		--color_3_fg: black;
		--color_4: #3185fc;
		--color_4_hover: #0467f1;
		--color_4_fg: white;
		--color_5: #7cae7a;
		--color_5_hover: #5f8b55;
		--color_5_fg: white;
		--color_6: #483D3F;
		--color_6_hover: #2c2627;
		--color_6_fg: white;
		--color_7: #dd7230;
		--color_7_hover: #c15d1f;
		--color_7_fg: white;
	}
	.vis-item.color-a {
		background-color: var(--color_1);
	}
	.vis-item.color-a a, .vis-item.color-a a:link, .vis-item.color-a a:visited {
		color: var(--color_1_fg);
	}
	.vis-item.color-a:hover {
		background-color: var(--color_1_hover)
	}
	.vis-item.color-b {
		background-color: var(--color_2);
	}
	.vis-item.color-b a, .vis-item.color-b a:link, .vis-item.color-b a:visited {
		color: var(--color_2_fg);
	}
	.vis-item.color-b:hover {
		background-color: var(--color_2_hover)
	}
	.vis-item.color-c {
		background-color: var(--color_2);
	}
	.vis-item.color-c a, .vis-item.color-c a:link, .vis-item.color-c a:visited {
		color: var(--color_2_fg);
	}
	.vis-item.color-c:hover {
		background-color: var(--color_2_hover)
	}
	.vis-item.color-c {
		background-color: var(--color_3);
	}
	.vis-item.color-c a, .vis-item.color-c a:link, .vis-item.color-c a:visited {
		color: var(--color_3_fg);
	}
	.vis-item.color-c:hover {
		background-color: var(--color_3_hover)
	}
	.vis-item.color-d {
		background-color: var(--color_4);
	}
	.vis-item.color-d a, .vis-item.color-d a:link, .vis-item.color-d a:visited {
		color: var(--color_4_fg);
	}
	.vis-item.color-d:hover {
		background-color: var(--color_4_hover)
	}
	.vis-item.color-e {
		background-color: var(--color_5);
	}
	.vis-item.color-e a, .vis-item.color-e a:link, .vis-item.color-e a:visited {
		color: var(--color_5_fg);
	}
	.vis-item.color-e:hover {
		background-color: var(--color_5_hover)
	}
	.vis-item.color-f {
		background-color: var(--color_6);
	}
	.vis-item.color-f a, .vis-item.color-f a:link, .vis-item.color-f a:visited {
		color: var(--color_6_fg);
	}
	.vis-item.color-f:hover {
		background-color: var(--color_6_hover)
	}
	.vis-item.color-g {
		background-color: var(--color_7);
	}
	.vis-item.color-g a, .vis-item.color-g a:link, .vis-item.color-g a:visited {
		color: var(--color_7_fg);
	}
	.vis-item.color-g:hover {
		background-color: var(--color_7_hover)
	}

</style>

<div class="caption">
	<p><strong>Légende :</strong></p>
	<ul style="list-style-type: none; margin-left:-20px">
		<li><span style="background-color: var(--color_2);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Jeux de rôle grandeur nature</li>
		<li><span style="background-color: var(--color_7);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Jeux de rôle sur table</li>
		<li><span style="background-color: var(--color_3);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Activités libres</li>
		<li><span style="background-color: var(--color_5);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Tournois</li>
		<li><span style="background-color: var(--color_6);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Autre</li>
	</ul>
</div>
{% if settings.planning_file %}
	<div></div><a class="button" href="{{ settings.planning_file.url }}"><i class="fa fa-download"></i> Télécharger le planning</a></div>
{% endif %}
