<div id="planning"></div>
<!--
In order to limit the planning's width, we cheat using the timeline's groups
I.E we set all dates to the first day (Friday) and set groups allowing vertical display:
-->
<script type="text/javascript">
	// https://visjs.org/
	// DOM element where the Timeline will be attached
	const container = document.getElementById('planning');

	const groups = new vis.DataSet([
		{id: {{ friday }}, content: "Ven.", order: 0},
		{id: {{ saturday }}, content: "Sam.", order: 1},
		{id: {{ sunday }}, content: "Dim.", order: 2},
	]);

	// Items in the timeline
	const items = new vis.DataSet([
	{% for slot in planning %}
		{% if slot.start|date:"d" == slot.end|date:"d" %}
			{
				content: '<a class="hidden" href="#{{ slot.activity.slug }}"><div><strong>{{ slot }}</strong><br>{{ slot.room }}</div></a>',
				title: '<strong>{{ slot }}</strong><br>{{ slot.room }}',
				start: '{{ settings.date_start|date:"Y-m-d"}} {{ slot.start|date:"H:i:s" }}',
				align: 'left',
				group: {{ slot.start|date:"d" }},
				subgroup: '{{ slot.room }}',
				end:'{{ settings.date_start|date:"Y-m-d"}} {{ slot.end|date:"H:i:s" }}'
			},
		{% else %} // activity spans multiple days
			{
				content: '<a class="hidden" href="#{{ slot.activity.slug }}"><div><strong>{{ slot }}</strong><br>{{ slot.room }}</div></a>',
				title: '<strong>{{ slot }}</strong><br>{{ slot.room }}',
				start: '{{ settings.date_start|date:"Y-m-d"}} {{ slot.start|date:"H:i:s" }}',
				align: 'left',
				group: {{ slot.start|date:"d" }},
				subgroup: '{{ slot.room }}',
				end:'{{ settings.date_start|date:"Y-m-d"}} 23:59:59'
			},
			{
				content: '<a class="hidden" href="#{{ slot.slug }}"><div><strong>{{ slot }}</strong><br>{{ slot.room }}</div></a>',
				title: '<strong>{{ slot }}</strong><br>{{ slot.room }}',
				start: '{{ settings.date_start|date:"Y-m-d"}} 00:00:00',
				align: 'left',
				group: {{ slot.start|date:"d"|add:"1" }},
				subgroup: '{{ slot.room }}',
				end:'{{ settings.date_start|date:"Y-m-d"}} {{ slot.end|date:"H:i:s" }}'
			},
		{% endif %}
	{% endfor %}
	]);

	// Configuration for the Timeline
	const start = '{{ settings.date_start|date:"Y-m-d"}} 00:00:00';
	const end = '{{ settings.date_start|date:"Y-m-d"}} 23:59:59';
	const options = {
		showMajorLabels: false,
		showCurrentTime: false,
		locale: "fr",
		groupOrder: "order",
		start: start,
		min: start,
		end: end,
		max: end,
		selectable: false,
	};

	// Create a Timeline
	const timeline = new vis.Timeline(container, items, options);
	timeline.setGroups(groups);
	// timeline.on('select', function (properties) {
	// 	alert('selected items: ' + properties.items);
	// });
</script>

<style>
	.vis-item {
		background-color: var(--color_bg_1);
		color: white;
	}
	.vis-item-content {
		width: 100%;
	}
	.vis-item a, .vis-item a:link, .vis-item a:visited {
		text-decoration: none;
		color: white;
		width: 100%
	}
	.vis-item a div {
		width: 100%;
	}
	.vis-item:hover {
		background-color: var(--color_bg_2);
	}
	.vis-time-axis .grid.vis-odd {
background: #444;
}

</style>
