{% extends "base.html" %}
{% load static %}

{% block head %}
<script src="{% static 'js/vis-timeline.min.js' %}"></script>
{% endblock %}

{% block nav_activite %}current{% endblock %}

{% block "content" %}

	{% if settings.activity_submission_open %}
	<ul class="messagelist">
		<li class="info">
			Vous pouvez proposer une activité en remplissant <a href="{% url 'activity_submission' %}">ce formulaire</a>.
		</li>
	</ul>{% endif %}

	{% if settings.display_planning %}
		<h2>Planning</h2>
		{% include "_planning.html" %}
	{% endif %}

	<h2>Activités</h2>
	<p>Durant tout l'événement, des jeux seront en libre-service au Pôt et des tables disponibles pour jouer.
		Certaines activités ne pourront se faire qu'avec inscription au vue d'une préparation en amont ou
		un nombre de places limité. Pour cela, contacter directement l'orga concerné.
	</p>
	{% if settings.activity_submission_form %}
	<p>Vous pouver proposer une activité en remplissant <a href="{{ settings.activity_submission_form }}">ce formulaire</a>.</p>
	{% endif %}

	{% if activities %}
	<p id="act-list"><strong>Liste des activités&nbsp;:</strong></p>
	<ul>
		{% for activity in activities %}
		<li><a href="#{{ activity.slug }}">{{ activity.title }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	{% for activity in activities %}
		<h3 id="{{ activity.slug }}">{{ activity.title }}</h3>

		<dl>
			<dt>Durée :</dt><dd>{{ activity.pretty_duration }}</dd>
			{% if activity.host_name %}
			<dt>Orga :</dt><dd>{{ activity.host_name }}</dd>
			{% endif %}
			<dt>Type :</dt><dd>{{ activity.pretty_type }}</dd>
			<dt>Places :</dt><dd>{{ activity.nb_participants }}</dd>
			{% if settings.show_host_emails and activity.show_email %}
			<dt>Contact :</dt><dd><a href="mailto:{{ activity.host_email }}">{{ activity.host_email }}</a></dd>
			{% endif %}

			{% if activity.slots and settings.display_planning %}
			<dt>Heure/Lieu :</dt><dd>{% for slot in activity.slots %}
				{{ slot.start|date:"l H:i" }}{% if slot.room %} {{ slot.room }}{% endif %}{% if not forloop.last %},<br> {% endif %}
				{% endfor %}
			</dd>
			{% endif %}
			<dt>Description :</dt>
		</dl>
		<div class="desc">
		{% if activity.desc_as_html %}
			{{ activity.description|safe }}
		{% else %}
		<p class="indent">{{ activity.description|linebreaksbr }}</p>
		{% endif %}
		</div>
		<a style="text-decoration: none;" href="#act-list"><i class="fa fa-arrow-up"></i> Retour à la liste</a>
	{% empty %}

	<p>Il n'y a aucune activité pour l'instant, revenez dans quelques jours pour avoir une liste plus remplie.</p>

	{% endfor %}
{% endblock %}
