{% extends "base.html" %}
{% load static %}

{% block nav_activite %}current{% endblock %}

{% block "content" %}
{% if form.errors or form.non_field_errors %}
<ul class="messagelist">
	<li class="error">Ce formulaire contient des erreurs.</li>
</ul>
{% endif %}

<h2>Proposer une activité</h2>

{{ form.non_field_errors }}

<form method="post" action="{% url 'activity_submission' %}">
	{% csrf_token %}

	<ul class="messagelist">
		<li class="info">
			Les informations publiques (qui apparaîtrons sur la page
			<a href="{% url 'pages:html_page' slug='activites' %}">activités</a>) sont
			celles <span class="underline">soulignées</span>.<br>
			Les autres ne serons vues que par les orgas.
		</li>
	</ul>

	<table>
		<tr>
			<td><strong class="underline">Titre&nbsp;:</strong></td>
			<td> {{ form.title }}</td>
		</tr>
		<tr>
			<td><strong class="underline">Type d'activité&nbsp;:</strong></td>
			<td> {{ form.act_type }}</td>
		</tr>
		<tr>
			<td><strong class="underline">Type de jeu&nbsp;:</strong></td>
			<td> {{ form.game_type }}</td>
		</tr>
	</table>

	<p><strong class="underline">Description&nbsp;:</strong> ce texte sera affiché sur la page
		<a href="{% url 'pages:html_page' slug='activites' %}">activités</a> pour présenter votre activité.
	</p>
	{{ form.description }}

	<h3>Organisateurs</h3>

	<table>
		<tr>
			<td><strong class="underline">Nom&nbsp;:</strong></td>
			<td> {{ form.host_name }}</td>
		</tr>
		<tr>
			<td><strong class="underline">Email&nbsp;:</strong></td>
			<td> {{ form.host_email }}</td>
		</tr>
		<tr>
			<td><strong>Compte associé&nbsp;:&nbsp;</strong></td>
			<td> {{ request.user.username }}</td>
		</tr>
	</table>

	<p>
		L'email de votre compte sera le principal moyen de contact.
		Si vous ne souhaitez pas qu'il soit affiché, précisez le ci-dessous.
		Vous pouvez également spécifier d'autres moyens de contact, ainsi que d'autres
		organisateurs si vous êtes plusieurs.
	</p>

	{{ form.host_info }}

	<h3>Participants et inscription</h3>

	<table>
		<tr>
			<td><strong class="underline">Nécessite une inscription&nbsp;:</strong></td>
			<td> {{ form.must_subscribe }}
				(si vrai, votre email sera affiché pour que les intéressés vous contacte)
			</td>
		</tr>
		<tr>
			<td><strong class="underline">Nombre max de participants&nbsp;:</strong></td>
			<td> {{ form.max_participants }} (mettez 0 pour illimité)</td>
		</tr>
		{% if form.max_participants.errors %}<tr>
			<td></td>
			<td>{{ form.max_participants.errors }}</td>
		</tr>{% endif %}
		<tr>
			<td><strong class="underline">Nombre min de participants&nbsp;:</strong></td>
			<td> {{ form.min_participants }}</td>
		</tr>
		{% if form.min_participants.errors %}<tr>
			<td></td>
			<td>{{ form.min_participants.errors }}</td>
		</tr>{% endif %}
	</table>

	<h3>Durée et créneaux</h3>

	<table>
		<tr>
			<td><strong class="underline">Durée approximative&nbsp;:</strong></td>
			<td> {{ form.duration }} (format hh:mm:ss)</td>
		</tr>
		{% if form.duration.errors %}<tr>
			<td></td>
			<td>{{ form.duration.errors }}</td>
		</tr>{% endif %}
		<tr>
			<td><strong>Nombre de crénaux souhaités&nbsp;:</strong></td>
			<td> {{ form.desired_slot_nb }}</td>
		</tr>
		{% if form.desired_slot_nb.errors %}<tr>
			<td></td>
			<td>{{ form.desired_slot_nb.errors }}</td>
		</tr>{% endif %}
		<tr>
			<td><strong>Disponibilités&nbsp;:</strong></td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Vendredi soir&nbsp;:</td>
			<td>{{ form.available_friday_evening }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Vendredi nuit&nbsp;:</td>
			<td>{{ form.available_friday_night }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Samedi matin&nbsp;:</td>
			<td>{{ form.available_saturday_morning }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Samedi après-midi&nbsp;:</td>
			<td>{{ form.available_saturday_afternoon }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Samedi soir&nbsp;:</td>
			<td>{{ form.available_saturday_evening }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Samedi nuit&nbsp;:</td>
			<td>{{ form.available_saturday_night }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Dimanche matin &nbsp;:</td>
			<td>{{ form.available_sunday_morning }}</td>
		</tr>
		<tr>
			<td>&nbsp;-&nbsp;Dimanche après-midi&nbsp;:</td>
			<td>{{ form.available_sunday_afternoon }}</td>
		</tr>
	</table>

	<p>Si vous avez des contraintes particulières, vous pouvez les préciser ici&nbsp;:</p>

	{{ form.constraints }}

	<h3>Modalités pratiques</h3>

	<ul>
		<li>Vous faut-il une ou plusieurs salles&nbsp;?</li>
		<li>Vous faut-il du matériel spécial&nbsp;?</li>
		<li>Quels outils faut-il pour participer&nbsp;?</li>
		<li>Et tout autre besoin de ce type...</li>
	</ul>

	{{ form.needs }}

	<h3>Commentaires</h3>

	<p>D'autres choses à nous communiquer qui ne rentre pas dans les champs précédents&nbsp;?</p>

	{{ form.comments }}

	<h3>Soumettre</h3>

	<p>L'activité n'est plus modifiable une fois soumise. Les administrateurs la reliront avant de l'afficher sur le site.
	</p>

	<div class="flex">
		<input type="submit" value="Soumettre mon activité">
		<a class="button" href="{% url 'pages:home' %}">Annuler</a>
	</div>

</form>
{% endblock %}
