{% spaceless %}
{% load static %}
<!doctype html>
<html lang="fr">

<head>
	<!-- WEBSITE VERSION {{ constants.WEBSITE_FULL_VERSION }} -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}Interludes{% if settings.date_start %} {{ settings.date_start.year }}{% endif %}{% endblock %}</title>
		<meta name="description" content="Inscriptions et infos sur les interENS ludiques{% if settings.date_start %}, édition {{ settings.date_start.year }}{% endif %}">
		<meta name="keywords" content="Interludes ENS {% if settings.date_start %}{{ settings.date_start.year }} {% endif %}InterENS">
		<link rel="icon" type="image/png" href="{% static 'imgs/2023/favicon.ico' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v={{ constants.CSS_VERSION }}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-all.min.css' %}">
		{% block head %}{% endblock %}
	</head>

	<body>
		<header>
			<div id="header_logo"  class="easter_egg">
				<h1><a href="/"><img src="{% static 'imgs/2023/logo.png' %}">&nbsp;Interludes{% if settings.date_start %} {{ settings.date_start.year }}{% endif %}&nbsp;</a></h1>
			</div>
			<div id="head_main_infos">
			<div id="location">
				{% if settings.hosting_school %}
				{{ settings.get_hosting_school_display }}
				{% else %}
					École non-fixée
				{% endif %}
			</div>
			<div id="date">{% if settings.date_start %}
				{% if settings.date_end %}
				{% if settings.date_end.month != settings.date_start.month %}
				{{ settings.date_start|date:"j N" }}-{{ settings.date_end|date:"j N Y" }}
				{% else %}
				{{ settings.date_start.day }}-{{ settings.date_end }}
				{% endif %}
				{% else %}
				{{ settings.date_start }}
				{% endif %}
				{% else %}
				Date non-fixée
				{% endif %}</div>
			</div>
		</header>

		<script type="text/javascript">
			function toggle_menu() {
				var nav = document.getElementById("nav");
				if (nav.className === "") {
					nav.className += "responsive";
				} else {
					nav.className = "";
				}
			}
		</script>

		<nav id="nav">
			<a href="{% url 'home' %}" rel="text/html"
				class="{% block nav_home %}{% endblock %}">
				Accueil
			</a>
			<a href="{% url 'inscription' %}" rel="text/html"
				class="{% block nav_inscription %}{% endblock %}">
				Inscriptions
			</a>
			<a href="{% url 'html_page' slug='activites' %}" rel="text/html"
				class="{% block nav_activite %}{% endblock %}">
				Activités
			</a>
			<a href="{% url 'html_page' slug='faq' %}" rel="text/html"
				class="{% block nav_faq %}{% endblock %}">
				FAQ
			</a>
			{% if request.user.is_authenticated %}
				<a href="{% url 'profile' %}"
					class="{% block nav_profile %}{% endblock %}">
					Mon compte
				</a>
			{% else %}
				<a href="{% url 'accounts:login' %}"
					class="{% block nav_login %}{% endblock %}">
					Connexion
				</a>
			{% endif %}
			{% if user.is_superuser %}
			<a href="{% url 'admin_pages:index' %}"
				class="{% block nav_admin %}{% endblock %}">
				Administration
			</a>
			{% endif %}
			<a href="javascript:void(0);" class="icon" onclick="toggle_menu()">
				<i class="fa fa-bars"></i>
			</a>
		</nav>

		<main>
			{% if messages %}
			<ul class="messagelist">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% if settings.global_message %}
				{% if settings.global_message_as_html %}
					{{ settings.global_message|safe }}
				{% else %}
					<ul class="messagelist"><li class="info">{{ settings.global_message }}</li></ul>
				{% endif %}
			{% endif %}

			{% block "content" %}
			{% endblock %}
		</main>

	<footer>
		<div id="sponsors">
			{% if settings.hosting_school == "U" %}
			<a class="external" href="https://www.ens.psl.eu/">
				<img src="{% static 'imgs/2021/ens_psl.png' %}"
					alt="École Normale Supérieure de Paris | Université Paris Sciences et Lettres"
					title="École Normale Supérieure de Paris | Université Paris Sciences et Lettres"
				/>
			</a>
			<a class="external" href="https://cof.ens.fr/">
				<img src="{% static 'imgs/2021/cof.svg' %}"
					alt="COF de l'ENS"
					title="COF de l'ENS"
				/>
			</a>
			{% elif settings.hosting_school == "L" %}
			<a class="external" href="https://www.ens-lyon.fr/">
				<img src="{% static 'imgs/2022/ens_lyon.svg' %}" alt="École Normale Supérieure de Lyon"
					title="École Normale Supérieure de Lyon" />
			</a>
			<a class="external" href="https://discord.gg/27QWSDUNgM">
    			<img src="{% static 'imgs/2022/bul.png' %}" alt="Bureau Ludique de l'ENS de Lyon"
    				title="Bureau Ludique de l'ENS de Lyon" />
			</a>
			<a class="external" href="https://www.trollune.fr/">
    			<img src="{% static 'imgs/2022/trollune.png' %}" alt="Trollune"
    				title="Trollune" />
			</a>
			<a class="external" href="https://www.3ptitspois.fr/">
    			<img src="{% static 'imgs/2022/trois_ptits_pois.png' %}" alt="Trois Ptits Pois"
    				title="Trois Ptits Pois" />
			</a>
			{% elif settings.hosting_school == "C" %}
			<a class="external" href="https://www.ens-paris-saclay.fr/">
				<img src="{% static 'imgs/2023/ens_ps.png' %}" alt="École Normale Supérieure Paris-Saclay"
					title="École Normale Supérieure Paris-Saclay" />
			</a>
			<a class="external" href="https://wiki.crans.org/VieBdl">
    			<img src="{% static 'imgs/2023/bdl.png' %}" alt="Bureau des Loisirs de l'ENS de Paris-Saclay"
    				title="Bureau des Loisirs de l'ENS Paris-Saclay" />
			</a>
			{% elif settings.hosting_school == "R" %}
			<a class="external" href="https://www.ens-rennes.fr/">
				<img src="{% static 'imgs/2024/ens_rennes.png' %}" 
					alt="Êcole Normale Supérieure Rennes" 
					title="Êcole Normale Supérieure Rennes">
			</a>
			<a class="external" href="https://www.instagram.com/bdaensrennes/">
				<img src="{% static '/imgs/2024/bda_rennes.png' %}" 
					alt="Bureau des Arts" title="Bureau des Arts">
			</a>
			<a class="external" href="https://www.crous-rennes.fr/">
				<img src="{% static '/imgs/2024/crous_bretagne.png' %}" 
					alt="Crous Bretagne" title="Crous Bretagne">
			</a>
			{% endif %}
		</div>
		<p>
			{% if settings.contact_email %}
			Pour tout problème, contacter&nbsp;:<br><span class="antispam">{{ settings.contact_email_reversed }}</span>
			<br>
			{% endif %}
			<a href="{% url 'legal' %}">Mentions légales</a>
		</p>
	</footer>

	</body>

</html>
{% endspaceless %}
