{% load static %}
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Interludes {% if settings.date_start %}{{ settings.date_start.year }}{% endif %}</title>
		<meta name="description" content="Inscriptions et infos sur les interENS ludiques{% if settings.date_start %}, édition {{ settings.date_start.year }}{% endif %}">
		<meta name="keywords" content="Interludes ENS événement COF {% if settings.date_start %}{{ settings.date_start.year }} {% endif %}InterENS">
		<link rel="icon" type="image/png" href="{% static 'imgs/favicon.ico' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-all.min.css' %}">
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<div id="header_logo">
				<h1><a href="/">Interludes {% if settings.date_start %}{{ settings.date_start.year }}{% endif %}</a></h1>
			</div>
			<div id="head_main_infos">
				<div id="location">ENS Ulm</div>
				<div id="date">{% if settings.date_start %}
				{% if settings.date_end %}
				{{ settings.date_start.day }}-{{ settings.date_end }}
				{% else %}
				{{ settings.date_start }}
				{% endif %}
				{% else %}
				Date non-fixée
				{% endif %}</div>
			</div>
		</header>

		<script type="text/javascript">
			function toggle_menu() {
				var nav = document.getElementById("nav");
				if (nav.className === "") {
					nav.className += "responsive";
				} else {
					nav.className = "";
				}
			}
		</script>

		<nav id="nav">
			<a href="{% url 'home' %}" rel="text/html"
				class="{% block nav_home %}{% endblock %}">
				Accueil
			</a>
			<a href="{% url 'inscription' %}" rel="text/html"
				class="{% block nav_inscription %}{% endblock %}">
				Inscriptions
			</a>
			<a href="{% url 'activites' %}" rel="text/html"
				class="{% block nav_activite %}{% endblock %}">
				Activités
			</a>
			<a href="{% url 'FAQ' %}" rel="text/html"
				class="{% block nav_faq %}{% endblock %} ">
				FAQ
			</a>
			{% if request.user.is_authenticated %}
				<a href="{% url 'accounts:profile' %}"
					class="{% block nav_profile %}{% endblock %} ">
					Mon compte
				</a>
			{% else %}
				<a href="{% url 'accounts:login' %}"
					class="{% block nav_login %}{% endblock %} ">
					Connexion
				</a>
			{% endif %}
			{% if user.is_superuser %}
			<a href="{% url 'site_admin' %}"
				class="{% block nav_admin %}{% endblock %} ">
				Administration
			</a>
			{% endif %}
			<a href="javascript:void(0);" class="icon" onclick="toggle_menu()">
				<i class="fa fa-bars"></i>
			</a>
		</nav>

		<main>
			{% if messages or settings.global_message %}
			<ul class="messagelist">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
				{% if settings.global_message %}
					<li class="info">{{ settings.global_message }}</li>
				{% endif %}
			</ul>
			{% endif %}

			{% block "content" %}
			{% endblock %}
		</main>

		<footer>
			<div id="sponsors">
				<a class="external" href="https://www.ens.psl.eu/">
					<img src="{% static "imgs/ens_psl.png" %}"
						alt="École Normale Supérieure de Paris | Université Paris Sciences et Lettres"
						title="École Normale Supérieure de Paris | Université Paris Sciences et Lettres"
					/>
				</a>
				<a class="external" href="https://cof.ens.fr/">
					<img src="{% static "imgs/cof.svg" %}"
						alt="COF de l'ENS"
						title="COF de l'ENS"
					/>
				</a>
			</div>
			{% if settings.contact_email %}
			<p>Pour tout problème, contacter&nbsp;:<br><span class="antispam">{{ settings.contact_email_reversed }}</span></p>
			{% endif %}
		</footer>

	</body>
</html>
