{% extends "base.html" %}
{% load static %}
{% block nav_faq %}current{% endblock %}

{% block "content" %}
	<h2>Comment se rendre à l'ENS Ulm ?</h2>
	<div>
		<p id="mailing-address">
			<i class="fas fa-map-marker-alt"></i>
			45 rue d'Ulm, 75005 Paris
		</p>

		<iframe id="interactive-map" width="750" height="400" src="https://www.openstreetmap.org/export/embed.html?bbox=2.334809303283692%2C48.8368567401711%2C2.3548936843872075%2C48.84636099015179&amp;layer=hot&amp;marker=48.841602029496684%2C2.344851493835449"></iframe>
	</div>

	<div id="public-transport-info">
		<div id="transport-metro-icon">
			<img src="{% static 'imgs/ratp/metro-7.svg' %}" alt="Métro 7">
		</div>
		<span id="transport-metro-stop">Place Monge</span>

		<div id="transport-rer-icon">
			<img src="{% static 'imgs/ratp/rer-B.svg' %}" alt="RER B">
		</div>
		<span id="transport-rer-stop">Luxembourg</span>

		<div id="transport-bus-1-icon">
			<img src="{% static 'imgs/ratp/bus-24.svg' %}" alt="Bus 24">
		</div>
		<span id="transport-bus-1-stop">École Normale Supérieure</span>

		<div id="transport-bus-2-icon">
			<img src="{% static 'imgs/ratp/bus-21.svg' %}" alt="Bus 21">
			<img src="{% static 'imgs/ratp/bus-27.svg' %}" alt="Bus 27">
		</div>
		<span id="transport-bus-2-stop">Feuillantines</span>

		<div id="transport-noctilien-icon">
			<img src="{% static 'imgs/ratp/noctilien-14.svg' %}" alt="Noctilien 14">
			<img src="{% static 'imgs/ratp/noctilien-21.svg' %}" alt="Noctilien 21">
			<img src="{% static 'imgs/ratp/noctilien-122.svg' %}" alt="Noctilien 122">
		</div>
		<span id="transport-noctilien-stop">Auguste Comte</span>
	</div>

	<h2>Conditions sanitaires ?</h2>
	<p>On ne sait pas trop...</p>

	<h2>Conditions pour dormir/manger</h2>
	<p>Une réponse</p>

	<h2>Proposer une activité ?</h2>
	<p>Une réponse</p>
{% endblock %}