{% extends "base.html" %}
{% load static %}
{% block nav_faq %}current{% endblock %}

{% block "content" %}

<h2>Quelles seront les mesures de protection sanitaire&nbsp;?</h2>
	<p>Les mesures définitives vous seront communiquées à l'arrivée à l'événement. Elles inclueront probablement&nbsp;:</p>
	<ul>
		<li>Port du masque obligatoire en permanence</li>
		<li>Lavage de main entre chaque jeu/activité</li>
		<li>Pause aération des salles régulières</li>
	</ul>

{% if settings.activity_submission_form %}
	<h2>Comment proposer une activité ?</h2>
		<p>Vous pouver proposer une activité en remplissant <a href="{{ settings.activity_submission_form }}">ce formulaire</a>.</p>
		<p>Il vous faudra renseigner votre nom/mail, le titre, une description, le nombre de places, la durée, les horaires possibles/idéaux, et tout autre besoin particulier...
		</p>
{% endif %}

<h2>Quelles seront les conditions pour dormir/manger</h2>
	<p>	Il est possible que nous n'ayons pas le droit de faire dormir les participants et/ou
		de distribuer des repas pendant l'événement pour des raisons sanitaires.
		Nous communiquerons les plus tôt possible les mesures définitives.
	</p>
	<p>En l'état actuel, nous espérons pouvoir distribuer des repas qu'il faudra manger en extérieur ou
		dans des salles dédiées.
	</p>
	<p>
		Si vous dormez sur place il vous faudra prendre tapis de sol et duvet. Une salle (probablement le gymnase) y sera dédiée.
	</p>

<h2>Comment se rendre à l'ENS Ulm ?</h2>
	<div>
		<p class="centered">
			<i class="fas fa-map-marker-alt"></i>
			45 rue d'Ulm, 75005 Paris
		</p>

		<iframe id="interactive-map" width="750" height="400" src="https://www.openstreetmap.org/export/embed.html?bbox=2.334809303283692%2C48.8368567401711%2C2.3548936843872075%2C48.84636099015179&amp;layer=hot&amp;marker=48.841602029496684%2C2.344851493835449"></iframe>
	</div>

	<div id="public-transport-info">
		<div id="transport-metro-icon">
			<img src="{% static 'imgs/ratp/metro-7.svg' %}" alt="Métro 7">
		</div>
		<span id="transport-metro-stop">Place Monge</span>

		<div id="transport-rer-icon">
			<img src="{% static 'imgs/ratp/rer-B.svg' %}" alt="RER B">
		</div>
		<span id="transport-rer-stop">Luxembourg</span>

		<div id="transport-bus-1-icon">
			<img src="{% static 'imgs/ratp/bus-24.svg' %}" alt="Bus 24">
		</div>
		<span id="transport-bus-1-stop">École Normale Supérieure</span>

		<div id="transport-bus-2-icon">
			<img src="{% static 'imgs/ratp/bus-21.svg' %}" alt="Bus 21">
			<img src="{% static 'imgs/ratp/bus-27.svg' %}" alt="Bus 27">
		</div>
		<span id="transport-bus-2-stop">Feuillantines</span>

		<div id="transport-noctilien-icon">
			<img src="{% static 'imgs/ratp/noctilien-14.svg' %}" alt="Noctilien 14">
			<img src="{% static 'imgs/ratp/noctilien-21.svg' %}" alt="Noctilien 21">
			<img src="{% static 'imgs/ratp/noctilien-122.svg' %}" alt="Noctilien 122">
		</div>
		<span id="transport-noctilien-stop">Auguste Comte</span>
	</div>






{% endblock %}