{% extends "base.html" %}
{% load static %}
{% block nav_faq %}current{% endblock %}

{% block "content" %}

<h2>Comment s'incrire ?</h2>
{% if settings.inscriptions_open %}
<p> Les <a href="{% url 'inscription' %}">inscriptions</a> sont ouvertes. Vous pouvez vous inscrire aux repas et à l'hébergement.
{% if settings.activity_inscriptions_open %}
Vous pouvez aussi vous inscrire aux activités.
{% else %}
L'inscription aux activités aura lieu plupart.
{% endif %}
</p>
{% else %}
<p> Les inscriptions ne sont pas ouvertes. </p>
{% endif %}

<h2>Comment payer ?</h2>
De préférence par l'associations qui gèrent les Interludes dans votre ENS (Bureau des Loisirs, Bul...). Sinon par espèce, chèque, carte sur place.

<h2>Comment proposer une activité&nbsp;?</h2>
	{% if settings.activity_submission_open %}
	<p>Vous pouver proposer une activité en remplissant <a href="{% url 'activity_submission' %}">ce formulaire</a>.</p>
	<p>Il vous faudra être connecté et renseigner, le titre, une description, le nombre de places, la durée, les horaires possibles/idéaux, et tout autre besoin particulier...</p>
	{% else %}
	<p>L'appel a activités est fermé pour le moment.
		Contactez nous en cas de besoin urgent ou d'idée trop géniale pour être délaissée.</p>
	{% endif %}

<h2>Quelles seront les conditions pour dormir/manger&nbsp;?</h2>
<p> Nous proposerons un logement indéterminé, pour celleux qui le souhaitent</p>
<p> Les repas seront préparés et servis sur place.</p>

<h2>Comment se rendre à l'événement&nbsp;?</h2>
	<p>Les Interludes se déroule à l'ENS Paris-Saclay : 4 avenue des Sciences, 91190 Gif-sur-Yvette. L'accueil se fait par l'entrée principale.</p>
<div>
	<p class="centered">
	
	<iframe width="750" height="400" 
		frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.1628072857856755%2C48.71179934847555%2C2.1672758460044865%2C48.71333201299027&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/>
		<small><a href="https://www.openstreetmap.org/#map=19/48.71257/2.16504">View Larger Map</a></small>
	</p>

</div>

<div id="public-transport-info">
	<div id="transport-tcl-bus-1">
		Bus 9
	</div>
	<div id="transport-tcl-bus-2">
		Bus 91.06
	</div>
	<div id="transport-tcl-bus-3">
		Bus 91.10
	</div>
	<span id="transport-tcl-stop">Arrêt : Moulon</span>
</div>

<h2>Comment sont réparties les activités&nbsp;?</h2>
	<p>
		La répartition est faite par un algorithme puis vérifiée à la main.
		Dans la mesure du possible, l'algorithme essaie d'attribue au moins une activité par personne. Par conséquent, si vous ne mettez qu'une seule activité, vous avez plus de chance de l'avoir.
	</p>
	<p>
		Les activités qui n'ont pas de limite de place (et toutes les activités avec moins de demande que de places) ne comptent pas pour ce système, donc vous pouvez les mettre et vous ne serez pas pénalisés.
	</p>
	<p>
		Vous ne pourrez pas avoir deux activités qui se déroulent en même temps. Si l'une vous est attribué l'autre souhait sera ignoré.
	</p>
	<p>On n'a pas trouvé le code des années précédentes, mais je suspecte fortement que ce soit un algo similaire en départageant les égalités aléatoirement plutôt qu'au shotgun.</p>
	<p>Plus précisément : l'algorithme se base sur le problème hôpital-résident&nbsp;:</p>
	<ol>
		<li>Il commence par essayer d'attribuer une activité à chaque participant.es au mieux possible, en utilisant la librairie matching de python. Les égalités sont départagées aléatoirement. Plus un choix est haut dans votre liste de souhait, plus vous avez de chance de vous le voir attribuer. Si vous n'avez qu'un seul choix, vous avez plus de chance de vous le voir attribué. (les participant.es avec un seul choix sont automatique placé.es avant ceux qui en ont plusieurs)</li>
		<li>Toutes les activités attribuées sont supprimées, ainsi que les voeux résolus des joueurs.</li>
		<li>Tant qu'il reste des place dans des activités et des participant.es qui veulent y participer, on recommence à l'étape 1.</li>
	</ol>
	<p>Le code est sur <a href="https://github.com/Imakoala/InterludesMatchings">github</a>, il ne marche pas encore parfaitement, et on risque de devoir bidouiller à la main en plus pour résoudre tous les cas particuliers (conflits d'horaires, activité présente plusieurs fois...).

{% if settings.contact_email_reversed %}
<h2>J'ai encore une question, je fais quoi ?</h2>
<p> Hésite pas à nous passer un mail à <span class="antispam">{{ settings.contact_email_reversed }}</span> pour nous poser tes questions !</p>
{% endif %}
{% endblock %}
