{% load static %}
<!doctype html>
<html lang=fr>
	<head>
		<title>Site title</title>
		<meta name="description" content="Site description">
		<meta name="keywords" content="Keywords for search">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<header>
			<div class="header">
				<h1><a href="/">The site's title</a></h1>
			</div>
		</header>
		<nav>
			<a href="/" class="internal">Inscriptions</a>
			<a href="/" class="internal">Activités</a>
			<a href="/" class="internal">Bouton</a>
			<a href="/" class="internal">Bouton autre</a>
		</nav>
		<section>
			<h2>A Title</h2>
			<p>a paragraph</p>
			<p>another paragraph with <a href="http://www.google.com" class="external">an external link</a></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
	</body>
</html>