{% extends "base.html" %}

{% block nav_home %}current{% endblock %}

{% block "content" %}
	<h2>Présentation</h2>
	<p>
		Les interludes, ou interENS ludiques, regroupent annuellement
		les étudiants des quatre ENS de France autour d'activités ludiques.
		Jeux de plateau, jeux de rôles, jeux vidéos, murders et autres sont
		à l'honneur durant ce week-end de trois jours.
	</p>
	<p>
		Cette année, c'est au tour de l'ENS Ulm d'organiser les interludes.
		L'événement a habituellement lieu en février mais à cause du COVID,
		il a été retardé. Cette année il est prévu
		{% if settings.date_start %}{% if settings.date_end %}
			le week-end du <strong>{{ settings.date_start.day }}-{{ settings.date_end }}</strong>.
		{% else %}
			le week-end du <strong>{{ settings.date_start }}</strong>.
		{% endif %}
		{% else %}
			à une date non-fixée.
		{% endif %}
	</p>
	<p>
		La situation actuelle ne se prête malheureusement pas à un tel événement. Nous ne pouvons donc
		que proposer un événement à distance, qui passera principalement par un serveur discord.
	</p>

	<h2>Inscriptions</h2>

	<p>
		Ce site vous permettra de vous <a href="{% url 'inscription' %}">inscrire à l'événement</a> et
		de <a href="{% url 'activites' %}">voir les activités</a> qui y seront proposées. L'événement est
		<strong>gratuit</strong>.
	</p>
	{% if settings.inscriptions_start and settings.inscriptions_end %}
		<p>Les inscriptions seront ouvertes
			du <strong>{{ settings.inscriptions_start|date:"l d F Y à H:i" }}</strong>
			au <strong>{{ settings.inscriptions_end|date:"l d F Y à H:i" }}</strong>.
		</p>
	{% elif settings.inscriptions_start %}
		<p>Les inscriptions ouvrirons le <strong>{{ settings.inscriptions_start|date:"l d F Y à H:i" }}</strong>.</p>
	{% elif settings.inscriptions_end %}
		<p>Les inscriptions fermerons le <strong>{{ settings.inscriptions_end|date:"l d F Y à H:i" }}</strong>.</p>
	{% endif %}
	<p>Pour plus de détails, consultez la <a href="{% url 'FAQ' %}">FAQ</a>.</p>
{% endblock %}
