{% extends "base.html" %}
{% load static %}


{% block "content" %}

<h2>Mentions légales</h2>

<h3>Copyright et droit d'auteurs</h3>

<p>
  Le code source de ce site web est copyright 2021 Dorian Lesbre. Il est diffusé
  en open source sur github <a
    href="https://github.com/dlesbre/site-interludes">https://github.com/dlesbre/site-interludes</a>
  sous une <a href="https://github.com/dlesbre/site-interludes/blob/master/LICENSE">licence MIT</a>.
</p>

<p>
  Ce n'est pas parce que le site est open source que son contenu l'est.
  Les images présentent (notamment l'affiche de l'événement),
  ainsi que les textes de descriptions des activités restent sous le copyright
  de leurs auteurs respectifs.
</p>

<p>
  Les icônes utilisées sont les icônes gratuites de
  <a class="link external" href="https://fontawesome.com/">fontawesome</a>.
  Elles sont utilisées en accord avec la license fontawesome :
  <a class="link external" href="https://fontawesome.com/license/free">Icônes (CC BY 4.0) - Police (SIL OFL 1.1) - Code
    (MIT)</a>.
  Les fichiers concernés contiennent des commentaires d'attribution.
</p>

<h3>Gestion des données</h3>

<p>
  Ce site stocke des informations personnelles (nom, mails de contact, statut salarial)
  dans le cadre de l'organisation des InterENS ludiques. Elles servent afin de
  pouvoir communiquer des informations aux participants et de déterminer le tarif
  adapté à chacun. Elles n'ont pas vocation à être conservées une fois l'événement
  terminé et devrait être supprimées quelques semaines après.
</p>

<p>
  Ces informations ne sont en aucun cas partagées avec des tiers.
</p>

<p>
  Ce site utilise des cookies uniquement à des fins de maintien de session utilisateur.
  Il ne stocke aucun cookie tiers.
  Il n'utilise aucune librairie javascript externe, et n'exécute qu'un peu de
  javascript pour l'affichage du planning et la compression de la barre de navigation
  sur mobile.
</p>

<p>
  Pour toute question, notamment pour demander une copie des données conservées
  ou leur suppression, contactez les responsables de l'événement.
  Leur mail de contact devrait se trouver en bas de page, si ce n'est pas le cas,
  vous pouvez vous adresser au BdE de l'école organisatrice.
</p>

{% endblock %}
