{% extends "base.html" %}

{% block nav_profile %}current{% endblock %}

{% block "content" %}

<h2>Mon compte</h2>

<p>Connecté en tant que {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>

{% if user.is_superuser %}
<ul class="messagelist">
<li class="info">
	Vous avez les droits d'administrateurs.
	<br>Aller à la <a href="{% url 'admin_pages:index' %}">page d'administration du site</a>
	{% if user.is_staff %}
	<br>Aller à la <a href="{% url 'admin:index' %}">page d'administration de Django</a>
	(N'y modifier rien si vous n'êtes pas sûrs de vous)
	{% endif %}
</li>
</ul>{% endif %}

{% if user.profile.is_registered %}
	<strong>Mon inscription&nbsp;:</strong>
	{% if settings.inscriptions_open and settings.inscriptions_end %}
	  modifiable jusqu'au {{ settings.inscriptions_end|date:"l d F Y à H:i" }}
	{% endif %}
	<ul>
		<li>Tarif personnalisé : {{ user.profile.cost }}€</li>
		<li>{% if user.profile.sleeps %}Inscrit pour dormir sur place{% else %}Non inscrit pour dormir sur place{% endif %}</li>
		{% comment "pas de tasse" %}<li>{% if user.profile.mug %}Commandse une tasse{% else %}Ne commande pas de tasse{% endif %}</li>{% endcomment%}
		{% if user.profile.nb_meals != 0 %}
		<li>Inscrit à {{ user.profile.nb_meals }} repas :</li>
			<ul>
				{% if user.profile.meal_friday_evening == True %}<li>Vendredi soir</li>{% endif %}
				{% if user.profile.meal_saturday_morning == True %}<li>Petit dej' du samedi</li>{% endif %}
				{% if user.profile.meal_saturday_midday == True %}<li>Samedi midi</li>{% endif %}
				{% if user.profile.meal_saturday_evening == True %}<li>Samedi soir</li>{% endif %}
				{% if user.profile.meal_sunday_morning == True %}<li>Petit dej' du dimanche</li>{% endif %}
				{% if user.profile.meal_sunday_midday == True %}<li>Dimanche midi</li>{% endif %}
				{% if user.profile.meal_sunday_evening == True %}<li>Dimanche soir (à emporter)</li>{% endif %}
			</ul>
		{% else %}
		<li>Inscrit à aucun repas</li>
		{% endif %}
		{% if settings.activities_allocated %}
			{% if my_choices %}
			<li>Inscrit&middot;e à {{ my_choices|length }} activités&nbsp;:
				<ul>
					{% for choice in my_choices %}
					<li><a href="{% url 'html_page' slug='activites' %}#{{ choice.slot.activity.slug }}">{{ choice.slot }}</a>
						{% if choice.slot.on_planning %}
							(le {{ choice.slot.start|date:"l à H:i" }}<!--  en {{ choice.slot.room }} -->)
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</li>
			{% else %}
			<li>Inscrit&middot;e à aucune activité</li>
			{% endif %}
		{% else %}
			{% if my_choices %}
			<li>{{ my_choices|length }} activités souhaitées&nbsp;:
				<ol>
					{% for choice in my_choices %}
					<li><a href="{% url 'html_page' slug='activites' %}#{{ choice.slot.activity.slug }}">{{ choice.slot }}</a>
						{% if choice.slot.on_planning %}
							(le {{ choice.slot.start|date:"l à H:i" }}<!--  en {{ choice.slot.room }} -->)
						{% endif %}
					</li>
					{% endfor %}
				</ol>
			</li>
			{% else %}
			<li>Aucune activité souhaitée</li>
			{% endif %}

		{% endif %}
	</ul>
{% else %}
	<strong>Vous n'avez pas encore renseigné vos choix d'activités.</strong>

	{% if not settings.inscriptions_open %}
		{% if settings.inscriptions_not_open_yet %}
			<p>Les inscriptions aux activités ne sont pas encore ouvertes. Elles ouvriront le <strong>{{ settings.inscriptions_start|date:"l d F Y à H:i" }}</strong>.</p>
		{% elif settings.inscriptions_have_closed %}
			<p>Les inscriptions aux activités sont fermées.</p>
		{% else %}
			<p>Les inscriptions aux activités ne sont pas encore ouvertes ou ont été fermées.</p>
		{% endif %}
	{% elif settings.inscriptions_end %}
		<p>les inscriptions aux activités sont ouvertes jusqu'au {{ settings.inscriptions_end|date:"l d F Y à H:i" }}).</p>
	{% endif %}
	<br><br>
{% endif %}

<div class="flex wrap">
	{% if user.profile.is_registered %}
		{% if settings.inscriptions_open %}
		<a class="button" href="{% url 'desinscription' %}">Me désinscrire</a>
		<a class="button" href="{% url 'inscription' %}">Modifier mon inscription</a>
		{% else %}
		<script type="text/javascript">
			function clicked() {
				if (confirm(
					'Les inscriptions étant fermées, vous ne pourrez pas vous réinscrire.\nVoulez vous vraiment vous désinscrire?'
				))
					window.location = "{% url 'desinscription' %}";
			}
		</script>
		<button class="button" onclick="clicked();">Me désinscrire</button>
		{% endif %}
	{% elif settings.inscriptions_open %}
	<a class="button" href="{% url 'inscription' %}">S'inscrire</a>
	{% endif %}

	<a class="button" href="{% url 'accounts:update' %}">Modifier mes informations</a>
	<a class="button" href="{% url 'accounts:logout' %}">Déconnexion</a>
</div>

{% endblock %}
