{% extends "base.html" %}

{% block nav_tables %}current{% endblock %}

{% block "content" %}
<h2>Feuille de présence</h2>

	<p>
		Dans le cadre de la prévention COVID, nous devons noter les contacts entre les participants.
		Pour cela nous vous invitons à signaler votre présence à chaque table de jeu. Vous pouvez le faire
		en scannant le QR code sur la table ou en la séléctionnant dans la liste ci-dessous.
	</p>
	<p>
		Ces données serviront uniquement au traçage de cas de COVID (s'il y en a).
		Elle seront supprimés deux semaines après l'événement.
	</p>

	<ul class="messagelist">
		<li class="info">
			{% if user.is_authenticated %}
				Vous êtes connecté en tant que {{ user.username }}
			{% else %}
				Vous n'êtes pas connectés. Vous devrez <a href="{% url 'authens:login' %}?next={% url 'tables' %}">vous connecter</a> pour signaler votre présence.
			{% endif %}
		</li>
	</ul>

<h2>Liste des tables</h2>

{% for id in settings.tables %}
	<a href="{% url 'table' id=id %}" class="button">table {{ id }}</a>
{% endfor %}

{% endblock %}
