{% autoescape off %}
Bonjour {{ user.first_name }} {{ user.last_name }},
{% if settings.discord_link %}
Vous pouvez rejoindre notre serveur discord avec le lien suivant : {{ settings.discord_link }}
{% endif %}
La répartition des activités des Interludes a été effectuée.
{% if requested_activities_nb %}
Vous avez obtenu {{ my_choices|length }} activité(s) (sur {{ requested_activities_nb }} souhaitée(s)).
{% for choice in my_choices %}
- {{ choice.slot }}{% if choice.slot.on_planning %} (le {{ choice.slot.start|date:"l à H:i" }}){% endif %}{% endfor %}{% if activities %}

Cette liste est également disponible sur la page "Mon compte" du site : {% url "profile" %}.
Votre adresse email sera communiquée aux orgas pour les activités qui nécessitent une préparation avant l'événement.{% endif %}
{% else %}
Vous n'aviez demandé aucune activité.
{% endif %}
--
L'équipe Interludes
{% if settings.contact_email %}Pour nous contacter, envoyer un email à {{ settings.contact_email }}{% endif %}
{% endautoescape %}
