{% autoescape off %}
Bonjour {{ user.first_name }} {{ user.last_name }},

Les inscriptions aux 48h des jeux sont fermées et la répartition des activités à été effectuée.
{% if requested_activities_nb %}
Vous avez obtenu {{ my_choices|length }} activité(s) (sur {{ requested_activities_nb }} souhaitée(s)).
{% for choice in my_choices %}
- {{ choice.slot }}{% if choice.slot.on_planning %} (le {{ choice.slot.start|date:"l à H:i" }}){% endif %}{% endfor %}{% if activities %}

Cette liste est également disponible sur la page "Mon compte" du site: {% url "profile" %}.
Votre adresse email sera communiquée aux orgas pour les activités nécessitant préparation avant l'événement.{% endif %}
{% else %}
Vous n'aviez demandé aucune activité.
{% endif %}
--
L'équipe 48h des jeux
{% if settings.contact_email %}Pour nous contacter, envoyer un email à {{ settings.contact_email }}{% endif %}
{% endautoescape %}
