{% load static %}

<!-- <h2>Quelle différence entre l'inscription sur HelloAsso et sur le site&nbsp;?</h2>
<p>
	L'inscription HelloAsso vous inscrit à l'événement, au logement et aux repas
	(selon l'option que vous prenez). Sur le site internet, vous pouvez créer un
	compte pour vous inscrire aux différentes activités qui seront proposées lors
	de l'événement.
</p> -->

<h2>Comment s'incrire ?</h2>
{% if settings.inscriptions_open %}
<p> 
	Les <a href="{% url 'inscription' %}">inscriptions</a> sont ouvertes. 
	Vous pouvez vous inscrire aux repas et à l'hébergement.
	{% if settings.activity_inscriptions_open %}
		Vous pouvez aussi vous inscrire aux activités.
	{% else %}
		L'inscription aux activités aura lieu plus tard.
	{% endif %}
</p>
{% else %}
<p> Les inscriptions ne sont pas ouvertes. </p>
{% endif %}

<!--<h2>Quelles seront les mesures de protection sanitaire&nbsp;?</h2>

<p>Les mesures définitives vous seront communiquées à l'arrivée à l'événement. Elles incluront probablement&nbsp;:</p>
<ul>
	<li>Contrôle des passes sanitaires chaque jour</li>
	<li>Port du masque obligatoire en permanence</li>
	<li>Lavage de main entre chaque jeu/activité conseillé</li>
	<li>Des QR Codes à scanner sur chaque table (pour garder trace des cas contacts si une personne est déclarée positive)</li>
	<li>Salles aérées en permanence et joueur&middot;ses invité&middot;es à se rendre dehors si le taux de CO2 devient trop élevé</li>
</ul> -->


<h2>Comment proposer une activité&nbsp;?</h2>
	{% if settings.activity_submission_open %}
	<p>
		Vous pouvez proposer une activité en remplissant 
		<a href="{% url	'activity_submission' %}">ce formulaire</a>.
	</p>
	<p>
		Il vous faudra être connecté et renseigner le titre, une description, le
		nombre de places, la durée, les horaires possibles/idéaux et tout autre
		besoin particulier...
	</p>
	{% else %}
	<p>
		L'appel à activités est fermé pour le moment. 
		Contactez nous en cas de besoin urgent ou d'idée trop géniale pour être 
		délaissée.
	</p>
	{% endif %}

<h2>Quels sont les tarifs d'entrée</h2>
<p>
	Les tarifs sont différenciés entre salarié·es 
	(ou exté·es remunéré·es au moins autant qu'un normalien salarié)
	et non-salarié·es.
	<ul>
		<li><strong>Participation à l'événement :</strong> {{ settings.price_entry }}</li>
		<li><strong>Repas (du vendredi soir au dimanche midi) :</strong> {{ settings.price_meal }}</li>
		<li><strong>Repas du dimanche soir (à emporter) :</strong> {{ settings.price_sunday_meal }}</li>
		<li><strong>Logement en tente :</strong> {{ settings.price_sleep }}</li>
	</ul>
	Cela ne comprend pas le cout des transports.
</p>

<h2>Quelles seront les conditions pour dormir/manger&nbsp;?</h2>
<p> Nous proposerons un logement en tente, pour celleux qui le souhaitent</p>
{% if settings.menus %}
<p>
	Cette année, le menu sera entièrement végétarien, avec options végan et/ou sans gluten possibles.
	<ul>
		{% if settings.menu_friday_evening %}<li><strong>Vendredi soir :</strong> {{ settings.menu_friday_evening }}</li>{% endif %}
		{% if settings.menu_saturday_morning %}<li><strong>Samedi matin :</strong> {{ settings.menu_saturday_morning }}</li>{% endif %}
		{% if settings.menu_saturday_midday %}<li><strong>Samedi midi :</strong> {{ settings.menu_saturday_midday }}</li>{% endif %}
		{% if settings.menu_saturday_evening %}<li><strong>Samedi soir :</strong> {{ settings.menu_saturday_evening }}</li>{% endif %}
		{% if settings.menu_sunday_morning %}<li><strong>Dimanche matin :</strong> {{ settings.menu_sunday_morning }}</li>{% endif %}
		{% if settings.menu_sunday_midday %}<li><strong>Dimanche midi :</strong> {{ settings.menu_sunday_midday }}</li>{% endif %}
		{% if settings.menu_sunday_evening %}<li><strong>Dimanche soir :</strong> {{ settings.menu_sunday_evening }}</li>{% endif %}
	</ul>
</p>
{% else %}
<p>Le menu des repas n'as pas encore été décidé. Nous le mettrons ici quand il sera fait.</p>
{% endif %}

<p>	Si vous dormez dans les tentes, pensez à prendre un tapis de sol et duvet.</p>

<h2>Comment payer ?</h2>
<p>
	De préférence par l'association qui gère les Interludes dans votre ENS
	(Bureau des Loisirs, Bul...). Sinon par espèce, chèque, carte sur place.
</p>

<h2>Comment se rendre à l'événement&nbsp;?</h2>
<!-- ENS ULM
<div>
	<p class="centered">
		<i class="fas fa-map-marker-alt"></i>
		45 rue d'Ulm, 75005 Paris
	</p>

	<iframe id="interactive-map" width="750" height="400" src="https://www.openstreetmap.org/export/embed.html?bbox=2.334809303283692%2C48.8368567401711%2C2.3548936843872075%2C48.84636099015179&amp;layer=hot&amp;marker=48.841602029496684%2C2.344851493835449"></iframe>
</div>

<div id="public-transport-info">
	<div id="transport-ratp-metro-icon">
		<img src="{% static 'imgs/ratp/metro-7.svg' %}" alt="Métro 7">
	</div>
	<span id="transport-ratp-metro-stop">Censier Daubenton</span>

	<div id="transport-ratp-rer-icon">
		<img src="{% static 'imgs/ratp/rer-B.svg' %}" alt="RER B">
	</div>
	<span id="transport-ratp-rer-stop">Luxembourg</span>

	<div id="transport-ratp-bus-1-icon">
		<img src="{% static 'imgs/ratp/bus-24.svg' %}" alt="Bus 24">
	</div>
	<span id="transport-ratp-bus-1-stop">École Normale Supérieure</span>

	<div id="transport-ratp-bus-2-icon">
		<img src="{% static 'imgs/ratp/bus-21.svg' %}" alt="Bus 21">
		<img src="{% static 'imgs/ratp/bus-27.svg' %}" alt="Bus 27">
	</div>
	<span id="transport-ratp-bus-2-stop">Feuillantines</span>

	<div id="transport-ratp-noctilien-icon">
		<img src="{% static 'imgs/ratp/noctilien-14.svg' %}" alt="Noctilien 14">
		<img src="{% static 'imgs/ratp/noctilien-21.svg' %}" alt="Noctilien 21">
		<img src="{% static 'imgs/ratp/noctilien-122.svg' %}" alt="Noctilien 122">
	</div>
	<span id="transport-ratp-noctilien-stop">Auguste Comte</span>
</div> -->

<!-- ENS Lyon
<div>
	<p class="centered">
		<i class="fas fa-map-marker-alt"></i>
		15 Parvis René Descartes, 69007 Lyon
	</p>

	<iframe id="interactive-map" width="750" height="400"
		src="https://www.openstreetmap.org/export/embed.html?bbox=4.82691%2C45.73663%2C4.84084%2C45.72936&amp;layer=hot&amp;marker=45.73298%2C4.83397"></iframe>
</div>

<div id="public-transport-info">
	<div id="transport-tcl-metro">
		<img src="{% static 'imgs/tcl/B.svg' %}" alt="Métro B">
	</div>
	<div id="transport-tcl-tram-1">
		<img src="{% static 'imgs/tcl/T1.svg' %}" alt="Tram T1">
	</div>
	<div id="transport-tcl-tram-2">
		<img src="{% static 'imgs/tcl/T6.svg' %}" alt="Tram T6">
	</div>
	<div id="transport-tcl-bus-1">
		<img src="{% static 'imgs/tcl/34.svg' %}" alt="Bus 34">
	</div>
	<div id="transport-tcl-bus-2">
		<img src="{% static 'imgs/tcl/60.svg' %}" alt="Bus 60">
	</div>
	<div id="transport-tcl-bus-3">
		<img src="{% static 'imgs/tcl/64.svg' %}" alt="Bus 64">
	</div>
	<span id="transport-tcl-stop">Arrêt : Debourg</span>
</div> -->

<p>Les Interludes se déroule à l'ENS Paris-Saclay : 4 avenue des Sciences, 91190 Gif-sur-Yvette. L'accueil se fait par l'entrée principale.</p>
<p class="centered">
	<i class="fas fa-map-marker-alt"></i>
	4 avenue des Sciences, 91190 Gif-sur-Yvette
</p>
<div>
	<p class="centered">
	
	<iframe width="750" height="400" 
		frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.1628072857856755%2C48.71179934847555%2C2.1672758460044865%2C48.71333201299027&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/>
		<small><a href="https://www.openstreetmap.org/#map=19/48.71257/2.16504">View Larger Map</a></small>
	</p>

</div>

<div id="public-transport-info">
	<div id="transport-tcl-bus-1">
		Bus 9
	</div>
	<div id="transport-tcl-bus-2">
		Bus 91.06
	</div>
	<div id="transport-tcl-bus-3">
		Bus 91.10
	</div>
	<span id="transport-tcl-stop">Arrêt : Moulon</span>
</div>

<h2>Comment sont réparties les activités&nbsp;?</h2>
	<p>
		La répartition est faite par un algorithme puis vérifiée à la main. Dans la
		mesure du possible, l'algorithme essaie d'attribuer au moins une activité par
		personne. Par conséquent, si vous ne mettez qu'une seule activité, vous avez
		plus de chance de l'avoir.
	</p>
	<p>
		Les activités qui n'ont pas de limite de place (et toutes les activités avec
		moins de demande que de places) ne comptent pas pour ce système, donc vous
		pouvez les mettre et vous ne serez pas pénalisés.
	</p>
	<p>
		Vous ne pourrez pas avoir deux activités qui se déroulent en même temps. Si
		l'une vous est attribué l'autre souhait sera ignoré.
	</p>
	<p>
		On n'a pas trouvé le code des années précédentes, mais je suspecte fortement
		que ce soit un algo similaire en départageant les égalités aléatoirement
		plutôt qu'au shotgun.
	</p>
	<p>Plus précisément : l'algorithme se base sur le problème hôpital-résident&nbsp;:</p>
	<ol>
		<li>
			Il commence par essayer d'attribuer une activité à chaque participant.es
			au mieux possible, en utilisant la librairie matching de python. Les
			égalités sont départagées aléatoirement. Plus un choix est haut dans votre
			liste de souhait, plus vous avez de chance de vous le voir attribuer. Si
			vous n'avez qu'un seul choix, vous avez plus de chance de vous le voir
			attribuer. (les participant.es avec un seul choix sont automatiquement
			placé.es avant ceux qui en ont plusieurs)
		</li>
		<li>
			Toutes les activités attribuées sont supprimées, ainsi que les v&oelig;ux
			résolus des joueurs.
		</li>
		<li>
			Tant qu'il reste des places dans des activités et des participant.es qui
			veulent y participer, on recommence à l'étape 1.
		</li>
	</ol>
	<p>
		Le code est sur <a
		href="https://github.com/Imakoala/InterludesMatchings">github</a>, il ne
		marche pas encore parfaitement, et on risque de devoir bidouiller à la main
		en plus pour résoudre tous les cas particuliers (conflits d'horaires,
		activité présente plusieurs fois...).
	</p>

<h2>Comment rejoindre le serveur discord&nbsp;?</h2>
	{% if settings.discord_link %}
		<p>Suivez <a href="{{ settings.discord_link }}">ce lien</a>.</p>
	{% else %}
		<p>Le lien vous sera communiqué par mail peu avant l'événement. Il apparaîtra également sur ce site.</p>
	{% endif %}
	<p>
		Vous pouvez utiliser Discord sur navigateur sans créer de compte (mais se
		connecter sans compte pose parfois des problèmes). Sinon il existe une
		application mobile (Android et iOS) et un programme (Linux/Windows/Mac)
		permettant d'y accéder via un compte.
	</p>

<!--<h2>Où jouer en ligne&nbsp;?</h2>

<p>Voici une liste (non-exhaustive) des plateformes de jeu en ligne&nbsp;:
	<ul>
		<li><a href="https://fr.boardgamearena.com/">Board Game Arena</a> (site gratuit nécessitant un compte)</li>
		<li><a href="https://store.steampowered.com/app/286160/Tabletop_Simulator/">Tabletop Simulator</a> (jeu vendu 20€ sur steam)</li>
		<li>Des sites spécialisés (gratuits)&nbsp;<ul>
			<li>Pour Codenames : <a href="https://codenames.game/">codenames.game</a> ou <a href="https://www.horsepaste.com/">horsepaste.com</a>.</li>
			<li>Pour Hanabi : <a href="https://hanab.live/">hanab.live</a> (nécessite un compte).</li>
			<li>Pour Catan : <a href="https://colonist.io/">colonist.io</a>.</li>
			<li>Pour Shadow-Hunter : <a href="http://shadowhunters.live/">shadowhunters.live</a>.</li>
			<li>Pour Diplomacy : <a href="https://vdiplomacy.com/">vdiplomacy.com</a> (nécessite un compte).</li>
		</ul></li>
		<li>N'importe quel jeu vidéo multijoueur</li>
	</ul>
	Vous trouverez une liste plus fournie sur le discord interludes.
</p>-->

{% if settings.contact_email %}
<h2>J'ai encore une question, je fais quoi ?</h2>
<p> Hésites pas à nous passer un mail à 
	<span class="antispam">{{ settings.contact_email_reversed }}</span>
	pour nous poser tes questions !</p>
{% endif %}
