{% load static %}

<h2>Présentation</h2>

{% if settings.affiche %}
	<img width=100% src="{{ settings.affiche.url }}" alt="affiche">
{% endif %}

{% if settings.discord_link %}
	<ul class="messagelist"><li class="info">
		Rejoins notre <a href="{{ settings.discord_link }}">serveur discord</a> 
		pour avoir toutes les informations sur l'événement.
	</li></ul>
{% endif %}

<p>
	Les interludes, ou interENS ludiques, regroupent annuellement
	les étudiants des quatre ENS de France autour d'activités ludiques.
	Jeux de plateau, jeux de rôles, jeux vidéos, murders et autres sont
	à l'honneur durant ce week-end de trois jours.
</p>
<p>
	Cette année, c'est au tour de l'{{ settings.get_hosting_school_display }} d'organiser les interludes.
	Elles auront lieu
	{% if settings.date_start %}{% if settings.date_end %}
	{% if settings.date_end.month != settings.date_start.month %}
	le week-end du <strong>{{ settings.date_start|date:"j F" }}-{{ settings.date_end|date:"j F Y" }}</strong>.
	{% else %}
	le week-end du <strong>{{ settings.date_start.day }}-{{ settings.date_end }}</strong>.
	{% endif %}
	{% else %}
	le week-end du <strong>{{ settings.date_start }}</strong>.
	{% endif %}
	{% else %}
	à une date non-fixée.
	{% endif %}
</p>

<h2>Inscriptions</h2>

	<p>
		L'inscription à l'événement, aux repas, à l'hébergement et aux activités se fait dans 
		<a href="{% url 'inscription'%}">l'onglet inscription</a>.
	</p>
	</p>
	{% if settings.inscriptions_start and settings.inscriptions_end %}
		<p>Les inscriptions aux activités seront ouvertes
			du <strong>{{ settings.inscriptions_start|date:"l d F Y à H:i" }}</strong>
			au <strong>{{ settings.inscriptions_end|date:"l d F Y à H:i" }}</strong>.
		</p>
	{% elif settings.inscriptions_start %}
		<p>Les inscriptions aux activités ouvrirons le <strong>{{ settings.inscriptions_start|date:"l d F Y à H:i" }}</strong>.</p>
	{% elif settings.inscriptions_end %}
		<p>Les inscriptions fermerons le <strong>{{ settings.inscriptions_end|date:"l d F Y à H:i" }}</strong>.</p>
	{% endif %}


<h2 id="tarifs">Tarifs</h2>
<p>
	Les tarifs sont différenciés entre salarié·es et non-salarié·es.
	<ul>
		<li><strong>Participation à l'événement :</strong> {{ settings.price_entry }}</li>
		{{ settings.pretty_meal_prices|safe }}
		<li><strong>Hébergement :</strong> {{ settings.price_sleep }}</li>
	</ul>
</p>

<h2 id="hebergement">Hébergement</h2>

<p>
	L'idée est de proposer aux {{ settings.hosting_school_adjective_plural }} de 
	loger les normaliens des autres écoles. Si vous le pouvez, prenez un sac de couchage
	et tapis de sol. Il n'y aura pas forcément suffisamment de matelas
	pour tout le monde...
	{% if settings.sleeper_link %}
	Il y aura un formulaire spécial à compléter sur la page inscription si vous 
	souhaitez avoir un hébergement.
	{% endif %}
	Nous vous contacterons une fois que nous aurons fait la répartition.
</p>

{% if settings.sleep_host_link %}
<p>
	Si vous êtes {{ settings.hosting_school_adjective }} et que vous pouvez
	héberger quelqu'un, vous pouvez également remplir 
	<a href="{{ settings.sleeper_link }}">ce formulaire</a>. Un grand merci à vous&nbsp;!
</p>
{% endif %}

<h2 id="menus">Menu des repas</h2>
{% if settings.menus %}
<p>
	Cette année, le menu sera entièrement végétarien, avec options végan et/ou sans gluten possibles.
	<ul>
		{% if settings.menu_friday_evening %}<li><strong>Vendredi soir :</strong> {{ settings.menu_friday_evening }}</li>{% endif %}
		{% if settings.menu_saturday_morning %}<li><strong>Samedi matin :</strong> {{ settings.menu_saturday_morning }}</li>{% endif %}
		{% if settings.menu_saturday_midday %}<li><strong>Samedi midi :</strong> {{ settings.menu_saturday_midday }}</li>{% endif %}
		{% if settings.menu_saturday_evening %}<li><strong>Samedi soir :</strong> {{ settings.menu_saturday_evening }}</li>{% endif %}
		{% if settings.menu_sunday_morning %}<li><strong>Dimanche matin :</strong> {{ settings.menu_sunday_morning }}</li>{% endif %}
		{% if settings.menu_sunday_midday %}<li><strong>Dimanche midi :</strong> {{ settings.menu_sunday_midday }}</li>{% endif %}
		{% if settings.menu_sunday_evening %}<li><strong>Dimanche soir :</strong> {{ settings.menu_sunday_evening }}</li>{% endif %}
	</ul>
</p>
{% else %}
<p>Le menu des repas n'as pas encore été décidé. Nous le mettrons ici quand il sera fait.</p>
{% endif %}

<h2>Liens divers</h2>

<ul>
	<li>
		Le code source de ce site est sur
		<a href="https://github.com/dlesbre/site-interludes">github</a>.
	</li>
	<li>
		Un historique des interludes avec leurs visuels, site webs et photos est sur le 
		<a href="https://wiki.crans.org/VieBdl/InterLudes">wiki de Paris-Saclay</a>.
	</li>
	<li>Archives de ce site web: 
		<a href="{% static 'archive/2021/index.html' %}">Ulm 2021</a> | 
		<a href="{% static 'archive/2024/index.html' %}">Rennes 2024</a>
	</li>
</ul>
