{% extends "base.html" %}
{% load static %}
{% block nav_admin %}current{% endblock %}

{% block head %}
<script src="{% static 'js/vis-timeline.min.js' %}"></script>
{% endblock %}

{% block "content" %}
	<h2>Page d'administration</h2>
	<p><strong>Version {{ constants.WEBSITE_FULL_VERSION }} &mdash; Django {{ django_version }}</strong></p>
	
	<p>
		Bienvenue sur la page d'administration du site! Si c'est votre première venue
		ici, je recommande vivement de lire le <a href="{% url 'admin_pages:info' %}">guide de l'administrateur</a>.
	</p>
	
	<ul class="messagelist">
		<li class="warning">
			En tant qu'administrateur, vous êtes responsables de la gestion de données
			personnelles stockées sur ce site (essentiellement les emails des orgas,
			mais aussi d'éventuelles détails personnels qu'ils peuvent rajouter dans 
			les champs additionnels des propositions d'activités).

			<p>Une fois l'évènement terminée, vous êtes également responsable de la suppression
			de ces données de la base de donnée, ainsi que de toutes les copies/export
			qui en ont été faites. J'imagine qu'on peut garder les noms et emails en privé
		  à des fins d'historique (sauf si on reçoit une demande explicite de suppression
			de données), mais toute information plus personnelle doit être retirée.</p>
		</li>
	</ul>
	
	<div class="flex wrap">
		<a class="button" href="{% url 'admin_pages:activities.csv' %}"><i class="fa fa-download"></i> Activités</a>
		<a class="button" href="{% url 'admin_pages:slots.csv' %}"><i class="fa fa-download"></i> Crénaux</a>
	</div>
	<ul class="messagelist">
		<li class="info">
	Pour plus d'options d'accès et de modifications, aller à la <a href="{% url 'admin:index' %}">page d'administration de django</a>.
	<br>N'y modifiez rien si vous n'êtes pas sûrs de ce que cela fait.
		</li></ul>

	<h2>Paramètres du site</h2>

		<ul>
			<li>Les emails des orgas sont {% if settings.show_host_emails %}affichés sur la page activité{% else %}masqués{% endif %}.</li>
			<li>L'envoi d'email en masse est {% if settings.allow_mass_email %}activé{% else %}désactivé{% endif %}</li>
			<li>Le planning {% if settings.display_planning %}est affiché{% else %}n'est pas affiché{% endif %}.</li>
			<li>{% if settings.global_message %}Un message global est affiché{% else %}Aucun message global{% endif %}.</li>
		</ul>

		<div>
			<a class="button" href="{% url 'admin:site_settings_sitesettings_change' 1 %}">
				<i class="fa fa-cog"></i>
				Modifier les paramètres
			</a>
		</div>

	<h2>Métriques</h2>

	<div class="flex wrap lines">
		<div class="stat">
			<div class="qty">Utilisateurs</div>
			<div class="nb_big">{{ metrics.users }}</div>
		</div>
		<div class="stat">
			<div class="qty">Activités</div>
			<div class="nb_big">{{ metrics.activites }}</div>
		</div>
		<div class="stat">
			<div class="qty">Affichées</div>
			<div class="nb_big">{{ metrics.displayed }}</div>
		</div>
		<div class="stat">
			<div class="qty">sur inscription</div>
			<div class="nb_big">{{ metrics.act_ins }}</div>
		</div>
		<div class="stat">
			<div class="qty">Planning</div>
			<div class="nb_big">{{ metrics.slots }}</div>
		</div>

	</div>

	<h2>Prévisualisation du planning</h2>

	<ul class="messagelist">
		{{ planning_validation|safe }}
	</ul>

	<p>
		Vous pouvez uploader une version PDF (plus lisible sur mobile) dans les paramètres du site
		(depuis la <a href="{% url 'admin:index' %}">page d'administration de django</a>).
	</p>

	<p>
		Vous pouvez avoir une activité affichée uniquement dans le planning
		(son créneau est affiché, mais l'activité ne l'est pas). C'est utile pour éviter
		d'encombrer la page
		<a href="{% url 'pages:html_page' slug='activites' %}" rel="text/html">activités</a>
		avec des activités à descriptions évidentes (par exemple les repas).
	</p>

	{% include "_planning.html" %}

	<h2>Mail aux utilisateurs</h2>

	<p>Écrire un mail à tous les utilisateurs</p>

	<p>Évitez de spammer. N'envoyez que si vraiment nécessaire.</p>

	<p><a class="button{% if not settings.allow_mass_mail %} disabled{% endif %}" href="{% url 'admin_pages:email_new' %}">Écrire un nouveau mail</a></p>
{% endblock %}
