{% extends "base.html" %}
{% load static %}

{% block "content" %}
<h2>Guide de l'administrateur</h2>

<h3>À quoi peut servir ce site</h3>

<p><strong>Ce site permet de :</strong>
<ul>
  <li>
    Afficher des informations sur l'événement
    (page d'<a href="{% url 'home' %}">accueil</a> et <a href="{% url 'html_page' slug='faq' %}">FAQ</a>,
    modifiable directement depuis l'une des <a href="{% url 'admin:pages_htmlpagemodel_changelist' %}">pages d'admin de
      django</a>)
  </li>
  <li>Recenser les activités proposées (page <a href="{% url 'html_page' slug='activites' %}">activités</a>)</li>
  <li>
    Un formulaire pour permettre aux gens de <a href="{% url 'activity_submission' %}">proposer des activités</a>
    qui envoie un mail aux administrateurs à chaque fois qu'une nouvelle activité
    est proposée.
  </li>
  <li>
    Un <a href="{% url 'inscription' %}">formulaire d'inscription</a> où chaque inscrit peut renseigner des infos
    personnelles (repas/dormir) et les activités qu'il souhaite
  </li>
  <li>
    Afficher un planning dynamique des différentes activités (page <a
      href="{% url 'html_page' slug='activites' %}">activités</a>)
  </li>
  <li>
    Une fois la répartition faite, envoyer un mail à tous les inscrits pour leur
    communiquer les activités obtenues et un mail aux orgas pour leur communiquer
    la liste des participants (depuis le bas de la <a href="{% url 'admin_pages:index' %}">page d'administration</a>)
  </li>
  <li>Un formulaire pour envoyer un mail à tous (à utiliser avec modération)</li>
  <li>Exporter les tables intéressantes au format CSV (depuis la <a href="{% url 'admin_pages:index' %}">page
      d'administration</a>)</li>
</ul>
</p>

<p><strong>Il n'est PAS capable de :</strong>
<ul>
  <li>vendre des tickets - différentes solutions ont été utilisées pour ça par le passé :
    <ul>
      <li>utiliser une billetterie externe (ex <a href="https://www.helloasso.com/">HelloAsso</a>)</li>
      <li>recruter les BdE/BdL des autres écoles pour qu'ils gèrent les paiements</li>
      <li>paiement en espèces/CB sur place le jour J</li>
    </ul>
  <li>répartir les activités - nous faisons un premier jet avec le
    <a href="https://github.com/Lamakaio/InterludesMatchings">ce code</a> (en prenant l'export
    CSV de la table de choix d'activités), puis l'adaptons à la main et le
    renseignons dans ce site.
  </li>
</ul>
</p>

<h3>Pages d'administrations</h3>

<p>Le site web se gère depuis deux pages d'administration :</p>


<p><strong><a href="{% url 'admin_pages:index' %}">La page d'administration du site</a></strong>
  dont vous venez probablement.
  Elle sert principalement à afficher l'état du site et envoyer des mails:
<ul>
  <li>permet d'exporter les différentes tables au format CSV</li>
  <li>affiche l'état du site (version, réglages actuels, différentes métriques)</li>
  <li>une prévisualisation du planning</li>
  <li>permet l'écriture d'un mail à tous</li>
  <li>permet d'envoyer deux séries d'emails :
    <ul>
      <li>une aux inscrits pour leur communiquer les activités qu'ils ont obtenues</li>
      <li>une aux orgas qui ont besoin de connaître la liste des participants à
        l'avance pour préparer leurs activités.</li>
    </ul>
  </li>
</ul>
</p>

<p>
  <strong><a href="{% url 'admin:index' %}">La page d'administration Django</a></strong>
  est autogénéré à partir des tables de la base de donnée. Elle permet de les modifier
  directement. Voici un descriptif rapide des tables intéressantes :
<ul>
  <li>
    <strong>Utilisateurs</strong> - contient tous les utilisateurs et leurs permissions. Pour
    donner les droits d'administrateur à quelqu'un il faut lui donner le statut
    superuser (accès à l'admin du site) ET le statut équipe (accès à l'admin
    django).
  </li>
  <li>
    <strong>Pages HTML</strong> - contient les pages d'informations (notamment home, activités et
    FAQ). Cela permet aux administrateurs de modifier leur contenu facilement
    depuis le site en ligne, sans avoir à accéder au serveur. Ces pages ont un nom
    (uniquement visible dans l'admin), un URL d'accès et un contenu (format HTML
    avec tags de templates django).

    Les pages "home" (url vide) "activites" et "faq" sont spéciales. Elles
    apparaissent sur la barre de navigation et sont régénérées à partir de
    fichiers de base dans pages/default/ si quelqu'un tente
    d'y accéder après leur suppression.

    Vous pouvez créer d'autres pages sur des URL libres si ça vous semble pertinent.

    Les autres pages du site (formulaires, pages de connexion...) sont des
    templates django plus classiques et ne peuvent être modifié que depuis le code
    source.
  </li>
  <li>
    <strong>Paramètres</strong> - les réglages du site, ils permettent :
    <ul>
      <li>ouvrir/fermer la création de compte, les inscriptions</li>
      <li>renseigner l'ENS d'accueil</li>
      <li>renseigner un lien de la billetterie et de serveur discord</li>
      <li>ouvrir/fermer le formulaire de proposition d'activités</li>
      <li>afficher/cacher le planning</li>
      <li>renseigner l'email de contact, les dates de l'événement, les dates d'inscription</li>
      <li>ajouter un message global au-dessus de toutes les pages</li>
      <li>bloquer/autoriser l'envoi d'email globaux</li>
      <li>Ajouter une version PDF du planning (pour affichage sur mobiles)</li>
      <li>Ajouter l'affiche (visible sur la page d'accueil)</li>
    </ul>
  </li>

  <li>
    <strong>Activités</strong> liste des activités prévues. C'est ici que vous pouvez
    rajouter/modifier les activités qui s'affichent sur la page activité. Un
    formulaire permet aux utilisateurs de proposer des activités directement. Il
    vous faudra les relire et les valider ensuite manuellement pour qu'elles
    soient affichées sur le site.
  </li>
  <li>
    <strong>Créneaux</strong> - place une activité sur le planning. Une activité peut avoir
    plusieurs créneaux si elle a lieu plusieurs fois. Noter que les inscriptions
    se font à des créneaux et non a des activités.

    Note : le planning généré par le site (en JS) est difficilement lisible sur
    mobile. Le site permet d'uploader une version PDF propre pour mobiles.
    Personnellement je faisais une capture d'écran du planning (vu sur un grand
    écran) que j'exportais en PDF.
  </li>
  <li>
    <strong>Participant</strong> - liste des gens inscrits et des informations sur leur inscription
    (ENS, repas choisi...).
  </li>
  <li>
    <strong>Choix d'activité</strong> - Liste de (participant, priorité, activité) indiquant les
    vœux des participants. Une fois que vous avez fait l'attribution, cocher les
    case "Obtenues" pour indiquer qui a eu quelle activité.
  </li>
</ul>
</p>

<h3>Contact support</h3>

<p>
  Ce site web a été crée par Dorian Lesbre pour les
  Interludes 2021. N'hésitez pas à me contacter en cas de soucis.
  Vous trouverez des informations de contact à jour sur
  <a href="https://www.normalesup.org/~dlesbre/">mon site web</a>.
</p>

{% endblock %}
