{% extends "base.html" %}
{% load static %}

{% block "content" %}
<h2>Guide de l'administrateur</h2>

<p>
  Cette page explique un peu comment fonctionne le site et les étapes à suivre pour
  s'en servir lors des interludes.
</p>

<h3>À quoi peut servir ce site</h3>

<p><strong>Ce site permet de :</strong>
<ul>
  <li>
    Afficher des informations sur l'événement
    (page d'<a href="{% url 'home' %}">accueil</a> et <a href="{% url 'html_page' slug='faq' %}">FAQ</a>,
    modifiable directement depuis l'une des <a href="{% url 'admin:pages_htmlpagemodel_changelist' %}">pages d'admin de
      django</a>)
  </li>
  <li>Recenser les activités proposées (page <a href="{% url 'html_page' slug='activites' %}">activités</a>)</li>
  <li>
    Un formulaire pour permettre aux gens de <a href="{% url 'activity_submission' %}">proposer des activités</a>
    qui envoie un mail aux administrateurs à chaque fois qu'une nouvelle activité
    est proposée.
  </li>
  <li>
    Un <a href="{% url 'inscription' %}">formulaire d'inscription</a> où chaque inscrit peut renseigner des infos
    personnelles (repas/dormir) et les activités qu'il souhaite.
    En revanche, ce formulaire n'inclut pas les informations spécifiques à l'hébergement,
    vu que les besoins en la matière changent beaucoup d'une année à l'autre.
    Le plus simple est de faire un formulaire séparé sur <a href="https://framaforms.org/abc">framaforms</a>
    et de rajouter le lien de celui-ci dans les réglages du site.
  </li>
  <li>
    Afficher un planning dynamique des différentes activités (page <a
      href="{% url 'html_page' slug='activites' %}">activités</a>)
  </li>
  <li>
    Une fois la répartition faite, envoyer un mail à tous les inscrits pour leur
    communiquer les activités obtenues et un mail aux orgas pour leur communiquer
    la liste des participants (depuis le bas de la <a href="{% url 'admin_pages:index' %}">page d'administration</a>)
  </li>
  <li>Un formulaire pour envoyer un mail à tous (à utiliser avec modération)</li>
  <li>Exporter les tables intéressantes au format CSV (depuis la <a href="{% url 'admin_pages:index' %}">page
      d'administration</a>)</li>
</ul>
</p>

<p><strong>Il n'est PAS capable de :</strong>
<ul>
  <li>vendre des tickets - différentes solutions ont été utilisées pour ça par le passé :
    <ul>
      <li>utiliser une billetterie externe (ex <a href="https://www.helloasso.com/">HelloAsso</a>)</li>
      <li>recruter les BdE/BdL des autres écoles pour qu'ils gèrent les paiements</li>
      <li>paiement en espèces/CB sur place le jour J</li>
    </ul>
  <li>répartir les activités - nous faisons un premier jet avec le
    <a href="https://github.com/Lamakaio/InterludesMatchings">ce code</a> (en prenant l'export
    CSV de la table de choix d'activités), puis l'adaptons à la main et le
    renseignons dans ce site.
  </li>
</ul>
</p>

<h3>Pages d'administrations</h3>

<p>Le site web se gère depuis deux pages d'administration :</p>

<p><strong><a href="{% url 'admin_pages:index' %}">La page d'administration du site</a></strong>
  dont vous venez probablement.
  Elle sert principalement à afficher l'état du site et envoyer des mails:
<ul>
  <li>permet d'exporter les différentes tables au format CSV</li>
  <li>affiche l'état du site (version, réglages actuels, différentes métriques)</li>
  <li>une prévisualisation du planning</li>
  <li>permet l'écriture d'un mail à tous</li>
  <li>permet d'envoyer deux séries d'emails :
    <ul>
      <li>une aux inscrits pour leur communiquer les activités qu'ils ont obtenues</li>
      <li>une aux orgas qui ont besoin de connaître la liste des participants à
        l'avance pour préparer leurs activités.</li>
    </ul>
  </li>
</ul>
</p>

<p>
  <strong><a href="{% url 'admin:index' %}">La page d'administration Django</a></strong>
  est autogénéré à partir des tables de la base de donnée. Elle permet de les modifier
  directement. Voici un descriptif rapide des tables intéressantes :
<ul>
  <li>
    <strong>Utilisateurs</strong> - contient tous les utilisateurs et leurs permissions. Pour
    donner les droits d'administrateur à quelqu'un il faut lui donner le statut
    superuser (accès à l'admin du site) ET le statut équipe (accès à l'admin
    django).
  </li>
  <li>
    <strong>Pages HTML</strong> - contient les pages d'informations (notamment home, activités et
    FAQ). Cela permet aux administrateurs de modifier leur contenu facilement
    depuis le site en ligne, sans avoir à accéder au serveur. Ces pages ont un nom
    (uniquement visible dans l'admin), un URL d'accès et un contenu (format HTML
    avec tags de templates django).

    Les pages "home" (url vide) "activites" et "faq" sont spéciales. Elles
    apparaissent sur la barre de navigation et sont régénérées à partir de
    fichiers de base dans pages/default/ si quelqu'un tente
    d'y accéder après leur suppression.

    Vous pouvez créer d'autres pages sur des URL libres si ça vous semble pertinent.

    Les autres pages du site (formulaires, pages de connexion...) sont des
    templates django plus classiques et ne peuvent être modifié que depuis le code
    source.
  </li>
  <li>
    <strong>Paramètres</strong> - les réglages du site, ils permettent :
    <ul>
      <li>ouvrir/fermer la création de compte, les inscriptions</li>
      <li>renseigner l'ENS d'accueil</li>
      <li>renseigner un lien de la billetterie et de serveur discord</li>
      <li>ouvrir/fermer le formulaire de proposition d'activités</li>
      <li>afficher/cacher le planning</li>
      <li>renseigner l'email de contact, les dates de l'événement, les dates d'inscription</li>
      <li>ajouter un message global au-dessus de toutes les pages</li>
      <li>bloquer/autoriser l'envoi d'email globaux (pour éviter les envois accidentels)</li>
      <li>ajouter une version PDF du planning (pour affichage sur mobiles)</li>
      <li>ajouter l'affiche (visible sur la page d'accueil)</li>
    </ul>
    De nombreux champs dans les paramètres sont purement informationnels et ne servent
    qu'à mettre à jour l'affichage dans certaines pages, mais certains servent
    à activer/désactiver des fonctionnalités du site (inscription, soumission d'activités, ...).
  </li>

  <li>
    <strong>Activités</strong> liste des activités prévues. C'est ici que vous pouvez
    rajouter/modifier les activités qui s'affichent sur la page activité. Un
    formulaire permet aux utilisateurs de proposer des activités directement. Il
    vous faudra les relire et les valider ensuite manuellement pour qu'elles
    soient affichées sur le site.
  </li>
  <li>
    <strong>Créneaux</strong> - place une activité sur le planning. Une activité peut avoir
    plusieurs créneaux si elle a lieu plusieurs fois. Noter que les inscriptions
    se font à des créneaux et non a des activités.

    Note : le planning généré par le site (en JS) est difficilement lisible sur
    mobile. Le site permet d'uploader une version PDF propre pour mobiles.
    Personnellement je faisais une capture d'écran du planning (vu sur un grand
    écran) que j'exportais en PDF.
  </li>
  <li>
    <strong>Participant</strong> - liste des gens inscrits et des informations sur leur inscription
    (ENS, repas choisi...).
  </li>
  <li>
    <strong>Choix d'activité</strong> - Liste de (participant, priorité, activité) indiquant les
    vœux des participants. Une fois que vous avez fait l'attribution, cocher les
    case "Obtenues" pour indiquer qui a eu quelle activité.
  </li>
</ul>
</p>

<h3>Guide pas à pas</h3>

<p>Les grandes étapes de la gestion du site des interludes sont&nbsp;:</p>
<ol>
  <li>
    Dans un premier temps : créer ou réclamer des comptes administrateurs pour
    les organisateurs (normalement si vous voyez cette page vous en avez un!).
    Pour ajouter un nouvel utilisateur en administrateur,
    ouvrez la création de compte dans les
    <a href="{% url 'admin:site_settings_sitesettings_change' 1 %}">paramètres</a>;
    puis dites-lui de se créer un compte; enfin trouvez le dans la
    <a href="{% url 'admin:accounts_emailuser_changelist' %}">liste des utilisateurs</a>
    et cochez les cases "Statut super-utilisateur" et "statut équipe".
  </li>
  <li>
    Lorsque vous êtes prêt à communiquer autour de l'évènement, allez dans les
    <a href="{% url 'admin:site_settings_sitesettings_change' 1 %}">paramètres</a>
    et remplissez toutes les informations pertinentes (dates, lieux, tarifs,
    affiche et loge, menu...). Si vous n'avez pas encore toutes les infos vous pouvez
    toujours les rajouter/modifier plus tard. Faites ensuite un tour sur les différentes
    pages publiques du site
    (<a href="{% url 'home' %}">accueil</a>,
    <a href="{% url 'html_page' slug='faq' %}">FAQ</a>,
    <a href="{% url 'html_page' slug='activites' %}">activités</a>,
    <a href="{% url 'html_page' slug='legal' %}">mentions légales</a>...)
    Pour vérifier que toutes les informations sont correctes. Au besoin, vous pouvez
    modifier ces pages depuis l'une des <a href="{% url 'admin:pages_htmlpagemodel_changelist' %}">pages d'admin de
      django</a>.
  </li>
  <li>
    La première phase est l'appel à activités&nbsp;: pour ce faire, il faut ouvrir la
    création de compte et l'ajout d'activités dans les <a
      href="{% url 'admin:site_settings_sitesettings_change' 1 %}">paramètres</a>.
    N'importe qui peut alors proposer une activité via <a href="{% url 'activity_submission' %}">le formulaire</a>.
    (Un paramètre permet d'être notifié par mail à chaque fois qu'une activité est proposée).
    Par mesure de sécurité, les nouvelles activités proposées ne sont pas directement affichées.
    Il faut que vous alliez dans la <a href="{% url 'admin:home_activitymodel_changelist' %}">liste des activités (admin
      django)</a>
    pour les approuver.
  </li>
  <li>
    Une fois l'appel d'activités terminé, fermez l'ajout d'activités et faites le
    planning. Pour rentrer le planning dans le site web, il faut ajouter (au moins)
    un créneau par activité, depuis
    <a href="{% url 'admin:home_slotmodel_changelist' %}">la page d'admin de django</a>,
    en précisant l'heure et le lieu où aura lieu l'activité. Vous pouvez ensuite
    voir une prévisualisation du planning sur la
    <a href="{% url 'admin_pages:index' %}">page d'admin</a>. Si vous êtes satisfait
    du rendu, vous pouvez aller dans les <a href="{% url 'admin:site_settings_sitesettings_change' 1 %}">paramètres</a>
    pour afficher le planning et ouvrir les inscriptions.<br>
    Noter que même si les inscriptions peuvent être ouverte en avance, les participants
    ne pourront s'inscrire aux activités qu'une fois le planning fait et affiché.
  </li>
  <li>
    Une fois les inscriptions terminées (1-2 semaines avant, pour laisser au MJ le temps de préparer),
    il faut faire la répartition d'activités.
    Cela se fait à la main, à l'aide de l'export de la table choix d'activité,
    et éventuellement de <a href="https://github.com/Lamakaio/InterludesMatchings">ce jupyter notebook</a>.
    Une fois cela fait, il suffit d'aller cocher celles qui ont été obtenues dans
    <a href="{% url 'admin:home_activitychoicesmodel_changelist' %}">la liste</a>.
    Vous pouvez ensuite envoyé des emails automatiques aux organisateurs d'activité,
    (leur communiquant la liste des participants), et aux participants (leurs communiquant
    les activités obtenues) depuis la <a href="{% url 'admin_pages:index' %}">page d'admin</a>
    (par sécurité, l'envoi d'email doit d'abord être activé dans les <a href="{% url 'admin:site_settings_sitesettings_change' 1 %}">paramètres</a>).
    <br>
    Vous pouvez maintenir les inscriptions ouvertes après la répartition, pour des participants
    de dernière minute, mais il faudra fermer l'inscription aux activités et ceux-ci n'y auront pas accès.
  </li>
</ol>

<h3>Contact support</h3>

<p>
  Ce site web a été crée par Dorian Lesbre pour les
  Interludes 2021. N'hésitez pas à me contacter en cas de soucis.
  Vous trouverez des informations de contact à jour sur
  <a href="https://www.normalesup.org/~dlesbre/">mon site web</a>.
</p>

{% endblock %}
