{% extends "base.html" %}
{% load static %}

{% block "content" %}
<h2>Envoyer un email</h2>

<p>
	Ce formulaire permet d'envoyer un mail à tous les comptes du site
	(ou seulement aux comptes actuellements inscrits).
	À utiliser avec modération.
</p>
<ul>
	<li>Nombre de comptes : {{ accounts_nb }}</li>
	<li>Nombre d'inscrits : {{ registered_nb }} (Ulm : {{ ulm }}, Lyon : {{ lyon }}, Rennes : {{ rennes }}, Sacley : {{ saclay }})</li>
</ul>

<form method="post" action="{% url 'admin_pages:email_new' %}">
	{% csrf_token %}
	<table>
		<tr><td><strong>De :</strong></td><td>{{ from_email }}</td></tr>
		<tr><td><strong>Envoyer à : <strong></td><td>{{ form.dest }}</td></tr>
		<tr><td><strong>Sujet : <strong></td><td>{{ form.subject }}</td></tr>
	</table>
	{{ form.text }}
	<br>
	<div class="flex">
		<input type="submit" value="Envoyer">
		<a class="button" href="{% url 'admin_pages:index' %}">Annuler</a>
	</div>
</form>
{% endblock %}
