{% extends 'base.html' %}

{% block "content" %}

{% if validlink %}

<h2>Saissisez un nouveau mot de passe</h2>
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="flex">
		<input type="submit" value="Changer mon mot de passe">
		<a class="button" href="{% url 'accounts:login' %}">Annuler</a>
	</div>
</form>

{% else %}

<h2>Lien invalide</h2>

<p>Le lien de réinitialisation est invalide, peut-être a-t-il déjà été utilisé.
	Veuillez <a href="{% url 'accounts:password_reset' %}">demander un nouveau lien</a>.
</p>

{% endif %}
{% endblock %}
