{% extends "base.html" %}

{% block nav_profile %}current{% endblock %}

{% block "content" %}

<h2>Mon compte</h2>

<p>Connecté en tant que {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>

{% if user.is_superuser %}
<ul class="messagelist">
<li class="info">Vous avez les droits d'administrateurs. Aller à la <a href="{% url 'site_admin' %}">page d'administration du site</a></li>
</ul>{% endif %}

{% if user.profile.is_registered %}
	<strong>Mon inscription&nbsp;:</strong>
	{% if settings.inscriptions_open and settings.inscriptions_end %}
	  modifiable jusqu'au {{ settings.inscriptions_end|date:"l d F Y à H:i" }}
	{% endif %}
	<ul>
		<li>{% if user.profile.sleeps %}Inscrit pour dormir sur place{% else %}Ne dors pas sur place{% endif %}</li>
		<!--<li>{% if user.profile.mug %}Commande une tasse{% else %}Ne commande pas de tasse{% endif %}</li>-->
		<li>Inscrit à {{ user.profile.nb_meals }} repas.</li>
		{% if settings.activities_allocated %}
			{% if my_activities %}
			<li>Inscrit à {{ my_activities|length }} activités&nbsp;:
				<ul>
					{% for activity in my_activities %}
					<li>{{ activity.activity }}</li>
					{% endfor %}
				</ul>
			</li>
			{% else %}
			<li>Inscrit à aucune activité</li>
			{% endif %}
		{% else %}
			{% if my_activities %}
			<li>{{ my_activities|length }} activités souhaitées&nbsp;:
				<ol>
					{% for activity in my_activities %}
					<li>{{ activity.activity }}</li>
					{% endfor %}
				</ol>
			</li>
			{% else %}
			<li>Aucune activité souhaitée</li>
			{% endif %}

		{% endif %}
	</ul>
{% else %}
	<strong>Vous n'êtes pas incrit à l'événement.</strong>

	{% if not settings.inscriptions_open %}
		{% if settings.inscriptions_not_open_yet %}
			<p>Les inscriptions ne sont pas encores ouvertes. Elles ouvrirons le <strong>{{ settings.inscriptions_start|date:"l d F Y à H:i" }}</strong>.</p>
		{% elif settings.inscriptions_have_closed %}
			<p>Les inscriptions sont fermées.</p>
		{% else %}
			<p>Les inscriptions ne sont pas encores ouvertes ou ont été fermées.</p>
		{% endif %}
	{% elif settings.inscriptions_end %}
		<p>les inscriptions sont ouvertes jusqu'au {{ settings.inscriptions_end|date:"l d F Y à H:i" }}).</p>
	{% endif %}
	<br><br>
{% endif %}

<div class="flex wrap">
	{% if user.profile.is_registered %}
		{% if settings.inscriptions_open %}
		<a class="button" href="{% url 'desinscription' %}">Me désinscrire</a>
		<a class="button" href="{% url 'inscription' %}">Modifier mon inscription</a>
		{% else %}
		<script type="text/javascript">
			function clicked() {
				if (confirm(
					'Les inscriptions étant fermées, vous ne pourrez pas vous réinscrire.\nVoulez vous vraiment vous désinscrire?'
				))
					window.location = "{% url 'desinscription' %}";
			}
		</script>
		<button class="button" onclick="clicked();">Me désinscrire</button>
		{% endif %}
	{% elif settings.inscriptions_open %}
	<a class="button" href="{% url 'inscription' %}">S'inscrire</a>
	{% endif %}

	<a class="button" href="{% url 'accounts:update' %}">Modifier mes informations</a>
	<a class="button" href="{% url 'accounts:logout' %}">Déconnexion</a>
</div>

{% endblock %}