{% extends "base.html" %}

{% block nav_profile %}current{% endblock %}

{% block "content" %}

<h2>Mon compte</h2>

<p>Connecté en tant que {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>

{% if user.is_superuser %}
<ul class="messagelist">
<li class="info">Vous avez les droits d'administrateurs. Aller à la <a href="{% url 'admin:index' %}">page d'administration du site</a></li>
</ul>{% endif %}

{% if user.profile.is_registered %}
	<strong>Mon inscription&nbsp;:</strong>
	<ul>
		<li>{% if user.profile.sleeps %}Inscrit pour dormir sur place{% else %}Ne dors pas sur place{% endif %}</li>
		<li>{% if user.profile.mug %}Commande une tasse{% else %}Ne commande pas de tasse{% endif %}</li>
		<li>Inscrit à {{ user.profile.nb_meals }} repas.</li>
		{% if settings.activities_allocated %}

		{% else %}
			{% if my_activities %}
			<li>{{ my_activities|length }} activités souhaitées&nbsp;:
				<ol>
					{% for activity in my_activities %}
					<li>{{ activity.activity }}</li>
					{% endfor %}
				</ol>
			</li>
			{% else %}
			<li>Aucune activité souhaitée</li>
			{% endif %}

		{% endif %}
	</ul>
<div class="flex">

	<a class="button" href="{% url 'desinscription' %}">Me désinscrire</a>
	<a class="button" href="{% url 'inscription' %}">Modifier mon inscription</a>

{% else %}
	<strong>Vous n'êtes pas incrit à l'événement.</strong><br><br>
<div class="flex">
	<a class="button" href="{% url 'inscription' %}">S'inscrire</a>
{% endif %}


	<a class="button" href="{% url 'accounts:update' %}">Modifier mes informations</a>
	<a class="button" href="{% url 'accounts:logout' %}">Déconnexion</a>
</div>

{% endblock %}