{% extends "base.html" %}

{% block nav_profile %}current{% endblock %}

{% block "content" %}

<h2>Mon compte</h2>

<p>Connecté en tant que {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>

{% if user.is_superuser %}
<p>Vous avez les droits d'administrateurs. Aller à la <a href="{% url 'admin:index' %}">page d'administration du site</a></p>
{% endif %}

{% if user.profile.is_registered %}
<p>Vous êtes inscrit à l'événement. <a href="{% url 'inscription' %}">Modifier mon inscription</a>.</p>
{% else %}
<p>Vous n'êtes pas incrit à l'événement : <a href="{% url 'inscription' %}">s'inscrire</a>.</p>
{% endif %}

<p><a href="{% url 'accounts:update' %}">Modifier mes informations</a></p>

<p><a class="button" href="{% url 'accounts:logout' %}">Déconnexion</a></p>

{% endblock %}