:root {
	--color-bg: #fefefe;
	--color_bg_1: #4c4c7c;
	--color_bg_2: #26263c;
	--color_bg_3: #39395c;
	--color_sep: #eb811b;
	--color_header: #e4e4e4;
}

html, body {
	background-color: #dddddd;
	color: #333;
	font-weight: 300;
	line-height: 1.5;
	font-family: Arial, Roboto, Helvetica, sans-serif;
	align-items: center;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0px 0px 50px;
}

/* ===========================
// Header
// =========================== */

header {
	display: flex;
	background-color: var(--color_bg_1);
	border-bottom: 2px solid var(--color_sep);
	align-items: center;
	padding: 0px 40px;
	width: calc(100% - 80px);
}

header > * {
	color: var(--color_header);
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
	color: inherit;
	font-size: 70px;
	text-decoration: none;
	margin: 10px 0;
	flex: 1;
}
header h1 a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1 img {
	height: 80px;
}

header #head_main_infos {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 20pt;
	flex: 1;
}

@media (max-width: 800px) {
	header h1, header h1 a {
		font-size: 50px;
	}
	header h1 img {
		height: 60px;
	}
	header #head_main_infos {
		font-size: 15pt;
	}
}
@media (max-width: 700px) {
	header, header h1 a {
		flex-direction: column;
	}
	header h1, header h1 a {
		font-size: 30px;
	}
	header #head_main_infos {
		font-size: 12pt;
		flex-direction: row;
	}
	header #head_main_infos div {
		padding: 0 10px 10px;
	}
}

div.easter_egg {
	display: inline-block;
  }

#circle {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%)
}


/* ===========================
// Navbar
// =========================== */

nav {
	text-align: center;
	display: flex;
	justify-content: center space-around;
	background-color: var(--color_bg_2);
	color: var(--color_header);
	margin: 0;
	padding: 0 20px;
	border-bottom: 6px solid var(--color_bg_1);
}

nav a {
	padding: 5px;
	font-size: 20px;
	color: var(--color_header);
	text-decoration: none;
	text-emphasis: bold;
	width: 100%;
	cursor: pointer;
}

nav a:hover {
	transition-property: background-color;
	background-color: var(--color_bg_3);
	transition-duration: 0.5s;
}
nav a:focus {
	background-color: var(--color_bg_3);
}


nav a.current {
	background-color: var(--color_bg_1);
}
nav a.icon {
  display: none;
	width: 40px;
}
 /* hide all links except home and display menu icon */
@media (max-width: 600px) {
	nav {
		padding: 0;
	}
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
	/* The "responsive" class is added bu JS when the user click the menu icon */
  nav.responsive {
		position: relative;
    flex-direction: column;
		justify-content: start;
	}
  nav.responsive a.icon {
    position: absolute;
    right: 0px;
    top: 0;
  }
  nav.responsive a {
		float: none;
		display: block;
  }

}

/* ===========================
// Main
// =========================== */

main {
	background-color: var(--color-bg);
  justify-content: center;
	text-align: justify;
	padding: 1px 30px 50px;
	max-width: 920px;
	margin: 0 auto 0 auto;
}

main h2 {
	color: var(--color_bg_2);
	padding-top: 20px;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	border-bottom: 2px solid var(--color_bg_1);
	border-image-source: linear-gradient(to right, var(--color_bg_1) 0%, transparent 75%);
	border-image-slice: 1;
}
main h3 {
	color: var(--color_bg_2);
	font-size: 1.2rem;
	font-weight: 300;
	text-align: left;
	border-bottom: 2px solid var(--color_bg_1);
	border-image-source: linear-gradient(to right, var(--color_bg_1) 0%, transparent 75%);
	border-image-slice: 1;
}
@media (max-width: 600px) {
	main {
		padding-left: 10px;
		padding-right: 10px;
	}
	main h2 {
		font-size: 1.1rem;
	}
	main h3 {
		font-size: 1rem;
	}
}


main p {
	font-size: 1rem;
}

strong {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}


main a:link {
	text-decoration: underline;
	color: rgb(62, 62, 255);
}

.flex {
	display: flex;
}
.wrap {
	flex-flow: row wrap;
	flex-wrap: wrap;
}

.antispam {
	unicode-bidi: bidi-override;
	direction: rtl;
}

/* ===========================
// Metrics
// =========================== */

.lines {
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	justify-content: left
}
.stat {
	min-width: 120px;
	text-align: center;
	padding: 5px;
}
.stat .qty {
	font-size: 1.2em;
}
.stat .nb_big {
	font-size: 3em;
}
.stat .nb_small {
	font-size: 2em;
}
@media (max-width:600px) {
	.stat {
		min-width: 0;
	}
}

/* ===========================
// Lists
// =========================== */

dl {
	list-style: none;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	padding-left: 10px;
	margin-bottom: 5px;
}
dl dt {
	justify-self: end;
	text-align: right;
	font-weight: bold;
}
dl dd {
	margin: 0 10px;
	justify-self: start;
	text-align: left;
}
div.desc {
	margin-top: 0;
	padding: 0 10px 20px;
}
div.desc p {
	margin: 0;
}
div.desc p.indent {
	text-indent: 25px;
}

/* ===========================
// Forms
// =========================== */

.button, .button:link, .button:visited, input[type=submit] {
	color: white;
	text-decoration: none;
	font-size: 1em;
	background-color: var(--color_bg_1);
	padding: 7px 10px;
	margin: 5px;
	border-width: 0;
	cursor: pointer;
}
.button:hover, input[type=submit]:hover {
	background-color: var(--color_bg_2);
}
.disabled, .disabled:hover {
	color: black;
	background-color: #888;
	cursor: not-allowed;
}

span.helptext {
	color: #444444;
	font-size: 0.8em;
	font-style: italic;
}

.activity-form p {
	flex-grow: 1;
	max-width: 500px;
}
.activity-form select {
	width: 100%;
}

ul.errorlist {
	color: red;
	font-size: 0.8em;
	list-style-type: none;
	padding: 0 5px 0 0;
	margin: 0;
}
div.formfield {
	padding-top: 5px
}
div.label_line {
	font-weight: bold;
	padding: 5px;
}
div.error {
	color: red;
	border: 2px solid red;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

/* ===========================
// Messages
// =========================== */

ul.messagelist {
	padding: 0;
	margin-top: 20px;
}

ul.messagelist li {
	display: block;
	font-weight: 400;
	padding: 10px 10px 10px 50px;
	margin: 0 0 10px 0;
	color: #333;
}
ul.messagelist li:before {
	font-family: "Font Awesome 5 Free";
	padding-right: 10px;
	margin-left: -30px;
	font-weight: 900;
}
ul.messagelist li.success {
	background: #dfd;
}
ul.messagelist li.success:before {
	content: "\f058";
}
ul.messagelist li.warning {
	background: #ffc;
}
ul.messagelist li.warning:before {
	content: "\f071";
}
ul.messagelist li.error {
	background: #ffefef;
}
ul.messagelist li.error:before {
	content: "\f057";
}
ul.messagelist li.info {
	background: #ddf;
}
ul.messagelist li.info:before {
	content: "\f05a";
}

/* ===========================
// Location
// =========================== */

.centered {
	font-size: 1.5rem;
	text-align: center;
}

#interactive-map {
	width: 100%;
	margin-bottom: 10px;
}

#public-transport-info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	font-size: 1.3rem;
	margin-left: -20%;
	white-space: nowrap;
}

#public-transport-info > * {
	margin: 5px;
	justify-self: left;
}
#public-transport-info img {
	width: 40px;
	height: 35px;
	margin: 0 5px 0 0;
}
#transport-ratp-metro-icon,
#transport-ratp-metro-stop,
#transport-ratp-bus-1-icon,
#transport-ratp-bus-1-stop,
#transport-tcl-metro,
#transport-tcl-bus-1 {
	grid-row: 1;
}
#transport-ratp-rer-icon,
#transport-ratp-rer-stop,
#transport-ratp-bus-2-icon,
#transport-ratp-bus-2-stop,
#transport-tcl-tram-1,
#transport-tcl-bus-2,
#transport-tcl-stop {
	grid-row: 2;
}
#transport-ratp-noctilien-icon,
#transport-ratp-noctilien-stop,
#transport-tcl-tram-2,
#transport-tcl-bus-3 {
	grid-row: 3;
}
#transport-ratp-metro-icon,
#transport-ratp-rer-icon,
#transport-tcl-metro,
#transport-tcl-tram-1,
#transport-tcl-tram-2 {
	grid-column: 1;
	justify-self: end;
}
#transport-ratp-metro-stop,
#transport-ratp-rer-stop,
#transport-tcl-bus-1,
#transport-tcl-bus-2,
#transport-tcl-bus-3 {
	grid-column: 2;
}
#transport-ratp-bus-1-icon,
#transport-ratp-bus-2-icon,
#transport-ratp-noctilien-icon,
#transport-tcl-stop {
	grid-column: 3;
	justify-self: end;
}
#transport-ratp-bus-1-stop,
#transport-ratp-bus-2-stop,
#transport-ratp-noctilien-stop {
	grid-column: 4;
}

@media (max-width: 800px) {
	.centered {
		font-size: 1.2rem;
	}
	#public-transport-info {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		align-items: center;
	}
	#transport-ratp-metro-icon,
	#transport-ratp-metro-stop {
		grid-row: 1;
	}
	#transport-ratp-rer-icon,
	#transport-ratp-rer-stop {
		grid-row: 2;
	}
	#transport-ratp-bus-1-icon,
	#transport-ratp-bus-1-stop {
		grid-row: 3;
	}
	#transport-ratp-bus-2-icon,
	#transport-ratp-bus-2-stop {
		grid-row: 4;
	}
	#transport-ratp-noctilien-icon,
	#transport-ratp-noctilien-stop {
		grid-row: 5;
	}
	#transport-ratp-metro-icon,
	#transport-ratp-rer-icon,
	#transport-ratp-bus-1-icon,
	#transport-ratp-bus-2-icon,
	#transport-ratp-noctilien-icon  {
		grid-column: 1;
		justify-self: end;
	}
	#transport-ratp-metro-stop,
	#transport-ratp-rer-stop,
	#transport-ratp-bus-1-stop,
	#transport-ratp-bus-2-stop,
	#transport-ratp-noctilien-stop  {
		grid-column: 2;
	}
}
@media (max-width: 600px) {
	#public-transport-info {
	font-size: 1em;
	}
	#public-transport-info img {
		width: 30px;
		height: 25px;
	}
}

/* ===========================
// Footer
// =========================== */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: var(--color_header);
	display: flex;
	background-color: var(--color_bg_1);
	border-top: 5px solid var(--color_bg_2);
	align-items: center;
	justify-content: space-around;
}

footer #sponsors img {
	margin: 0;
	height: 40px;
	margin-right: 20px;
	padding: 5px;
}

@media (max-width: 500px) {
	main {
		padding-bottom: 80px;
	}
	footer #sponsors img {
		margin: 0;
		height: 30px;
	}
	footer {
		flex-direction: column;
	}
	footer p {
		margin: 5px;
	}
}
