html, body {
	color: #333;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	font-family: Arial, Roboto, Helvetica, sans-serif;
}

body {
	background-color: #FFF;
}

a:link {
	text-decoration: underline;
	color: rgb(62, 62, 255);
}

.header {
	background-color: #006809;
	margin-top: 0;
	padding: 5px 5px 20px 20px;
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
	color: #ddd;
	font-size: 60px;
	text-decoration: none;
	text-align: center;
}

section {
	text-align: justify;
}

section > * {
	max-width: 960px;

	margin-left: calc(50% - 480px);
	margin-right: calc(50% - 480px);
	padding-left: 60px;
	padding-right: 60px;
}

section p {
	font-size: 1rem;
}