{% extends "base.html" %}
{% load static %}

{% block nav_inscription %}current{% endblock %}

{% block "content" %}
	<h2>Inscriptions</h2>
	<form id="main_form" method="post" action="{% url 'inscription' %}">
		{% csrf_token %}

		<p>{{ form.school.label_tag }} {{ form.school }}</p>
		<p>{{ form.sleeps.label_tag }} {{ form.sleeps }}</p>

		<h3>Repas</h3>
		<table>
			<tr><td>Vendredi soir&nbsp;:</td><td>{{ form.meal_friday_evening }}</td></tr>
			<tr><td>Samedi matin&nbsp;:</td><td>{{ form.meal_saturday_morning }}</td></tr>
			<tr><td>Samedi midi&nbsp;:</td><td>{{ form.meal_saturday_midday }}</td></tr>
			<tr><td>Samedi soir&nbsp;:</td><td>{{ form.meal_saturday_evening }}</td></tr>
			<tr><td>Dimanche matin&nbsp;:</td><td>{{ form.meal_sunday_morning }}</td></tr>
			<tr><td>Dimanche midi&nbsp;:</td><td>{{ form.meal_sunday_midday }}</td></tr>
		</table>

		<h3>Choix d'activités</h3>

		<p>Saissisez les activités auquelles vous voulez vous inscrire, par ordre de préférence.</p>
		<p>Vous pouvez revenir modifier votre choix jusqu'à la fermeture des inscriptions.</p>

		{% if formset.non_form_errors %}
		{{ formset.non_form_errors }}
		{% endif %}

		{{ formset.management_data }}
		{{ formset.management_form }}
		{% for form in formset %}
		<div class="activity-form flex">
			{{ form.as_p }}
			<button class="button delete-activity" style="align-self: center; flex-grow: 0;">Supprimer</button>
		</div>
		{% endfor %}
		<button class="button" id="add-activity">Ajouter une activité</button>
		<div class="flex">
			<input type="submit" value="Valider">

			<a class="button" href="{% url 'accounts:profile' %}">Annuler</a>
		</div>
	</form>

	<script>
const button_add_activity = document.querySelector("#add-activity");
const button_submit_form = document.querySelector('[type="submit"]');
const activity_form = document.getElementsByClassName("activity-form");
const main_form = document.querySelector("#main_form");
const total_forms = document.querySelector("#id_form-TOTAL_FORMS");

const form_regex = /form-(\d*)-/g;

var form_count = activity_form.length - 1;

function add_new_form(event) {
	// adds a new activity form when clicking on the + button
	event.preventDefault();
	// clone the first form and replaces it's id
	const new_form = activity_form[0].cloneNode(true);
	form_count++;
	new_form.innerHTML = new_form.innerHTML.replace(form_regex, `form-${form_count}-`);
	// add it and increment form total
	main_form.insertBefore(new_form, button_add_activity);
	new_form.querySelector("select").value = "";
	total_forms.setAttribute("value", `${form_count+1}`);
}

button_add_activity.addEventListener("click", add_new_form);

function delete_form(event) {
	if (!event.target.classList.contains("delete-activity")) return;
	event.preventDefault();
	if (form_count == 0) {
		// don't delete the first element
		activity_form[0].querySelector("select").value = "";
		return;
	}
	event.target.parentElement.remove();
	form_count--;
	total_forms.setAttribute("value", `${form_count+1}`);
	// update form numbers
	let count = 0;
	for (const form of activity_form) {
		// the replace changes the field value
		// so we save and restore it
		const select = form.querySelector("select");
		const value = select.value;
		form.innerHTML = form.innerHTML.replace(form_regex, `form-${count++}-`);
		form.querySelector("select").value = value;
	}
}

main_form.addEventListener("click", delete_form);
	</script>
{% endblock %}
