{% extends "base.html" %}
{% load static %}

{% block nav_inscription %}current{% endblock %}

{% block "content" %}
	<form id="main_form" method="post" action="{% url 'inscription' %}">
	{% csrf_token %}

	<h2>Inscription à l'événement</h2>
		<p>L'inscription à l'événement, à l'hébergement et aux repas se fait sur cette page.</p>

		<h3>École</h3>
		<p>{{ form.school.label_tag }} {{ form.school }}</p>

		<h3>Repas</h3>

		<p>Vous pouvez vous inscrire aux repas ci-dessous&nbsp;:</p>
		<table>
			{% if settings.meal_friday_evening %}<tr><td>Vendredi soir&nbsp;:</td><td>{{ form.meal_friday_evening }}</td></tr>{% endif %}
			{% if settings.meal_saturday_morning %}<tr><td>Samedi matin&nbsp;:</td><td>{{ form.meal_saturday_morning }}</td></tr>{% endif %}
			{% if settings.meal_saturday_midday %}<tr><td>Samedi midi&nbsp;:</td><td>{{ form.meal_saturday_midday }}</td></tr>{% endif %}
			{% if settings.meal_saturday_evening %}<tr><td>Samedi soir&nbsp;:</td><td>{{ form.meal_saturday_evening }}</td></tr>{% endif %}
			{% if settings.meal_sunday_morning %}<tr><td>Dimanche matin&nbsp;:</td><td>{{ form.meal_sunday_morning }}</td></tr>{% endif %}
			{% if settings.meal_sunday_midday %}<tr><td>Dimanche midi&nbsp;:</td><td>{{ form.meal_sunday_midday }}</td></tr>{% endif %}
			{% if settings.meal_sunday_evening %}<tr><td>Dimanche soir&nbsp;:</td><td>{{ form.meal_sunday_evening }}</td></tr>{% endif %}
		</table>

		<p>Les menus sont disponibles sur la <a href="{% url 'home' %}#menus">page d'accueil</a>

		<h3>Hébergement</h3>

		<p>
			Les conditions d'hébergements sont détaillés sur la 
			<a href="{% url 'home' %}#hebergement">page d'accueil</a>
		</p>
		<p>
			Si vous souhaitez un hébergement, cochez la case
			suivante : {{ form.sleeps }}
		</p>

		{% if settings.sleeper_link %}
		<p>
			Il vous faudra également compléter 
			<a href="{{ settings.sleeper_link }}">ce questionnaire</a>.
		</p>
		{% endif %}

		{% if settings.sleep_host_link %}
		<p>
			Si vous êtes {{ settings.hosting_school_adjective }} et que vous pouvez
			héberger quelqu'un, vous pouvez également remplir 
			<a href="{{ settings.sleeper_link }}">ce formulaire</a>. Un grand merci à vous&nbsp;!
		</p>
		{% endif %}

		<h3>Tarif</h3>
		<p>Le tarif est différent selon si vous percevez un salaire ou non.</p>
		<p>Êtes-vous salarié⋅e : {{ form.paid }}</p>

		<p>Les tarifs sont disponibles sur la <a href="{% url 'home' %}#tarifs">page d'accueil</a>

	<h2>Inscription aux activités</h2>
		
		{% if formset.non_form_errors %}
		{{ formset.non_form_errors }}
		{% endif %}

		{{ formset.management_data }}
		{{ formset.management_form }}

		{% if settings.activity_inscriptions_open %}

	  <p>
			Vous pouvez vous inscrire à certaines activités sur cette page. La plupart
			des activités ne demandent pas d'inscription et seront en libre accès
			durant tout l'événement, mais certaines demandent une inscription à
			l'avance.
		</p>

		<p>
			Saisissez les activités auxquelles vous voulez vous inscrire, 
			<strong>par ordre de préférence</strong>. Vous trouverez une description
			des activités sur <a href="{% url 'html_page' slug='activites' %}">la page activités</a>.
		</p>

		<p>
			Si vous vous inscrivez à une activité qui nécessite préparation, nous communiquerons
			votre email aux orgas pour qu'iels puissent vous contacter.
		</p>

		{% for form in formset %}
		<div class="activity-form flex">
			{{ form.as_p }}
			<button class="button delete-activity" style="align-self: center; flex-grow: 0;">Supprimer</button>
		</div>
		{% endfor %}
		<button class="button" id="add-activity">Ajouter une activité</button>
		
	{% else %}
	
		<p>
			Vous pourrez vous inscrire à certaines activités sur cette page. La
			plupart des activités ne demandent pas d'inscription et seront en libre
			accès durant tout l'événement, mais certaines demandent une inscription à
			l'avance.
			{% if settings.inscriptions_start %} 
				Les inscriptions aux activités ouvrirons le 
				{{ settings.inscriptions_start|date:"l d F Y à H:i" }})
			{% endif %}.
		</p>
	
	{% endif %}
	
	<h3>Expérience</h3>
		<p>
			Afin d'aider les MJ à préparer leurs murders (ou autre activité), 
			il leur faudra savoir	votre expérience avec ce type de jeu, ainsi qu'un
			numéro de téléphone pour faciliter l'organisation le jour J (en amont, tout
			devrait passer par email). 
			 </p>

		<p>Nombre de murder déjà jouées : {{ form.nb_murder }}<br>
			 Si vous avez perdu le compte, 42 conviendra très bien ;)
		</p>

		<p>Numéro de téléphone ou autre contact e.g. discord (optionel) : {{ form.extra_contact }}</p>

		<p>Pour tout autre commentaire à faire parvenir aux orgas des activités auxquelles
			vous souhaitez participer:
		</p>
		{{ form.murder_comment }}
		
	<h2>Commentaire</h2>
		<p>
			Pour préciser toutes les informations qui vous semblent utiles comme les allergies alimentaires.
		</p>
		{{ form.comment }}
	
		<p>
			Vous pouvez revenir modifier vos choix jusqu'à la fermeture des
			inscriptions{% if settings.inscriptions_end %} (le {{ settings.inscriptions_end|date:"l d F Y à H:i" }}){% endif %}.
		</p>

		<div class="flex">
			<input type="submit" value="Valider">

			<a class="button" href="{% url 'profile' %}">Annuler</a>
		</div>
	</form>

	<script>
const button_add_activity = document.querySelector("#add-activity");
const button_submit_form = document.querySelector('[type="submit"]');
const activity_form = document.getElementsByClassName("activity-form");
const main_form = document.querySelector("#main_form");
const total_forms = document.querySelector("#id_form-TOTAL_FORMS");

const form_regex = /form-(\d*)-/g;

var form_count = activity_form.length - 1;

function add_new_form(event) {
	// adds a new activity form when clicking on the + button
	event.preventDefault();
	// clone the first form and replaces it's id
	const new_form = activity_form[0].cloneNode(true);
	form_count++;
	new_form.innerHTML = new_form.innerHTML.replace(form_regex, `form-${form_count}-`);
	// add it and increment form total
	main_form.insertBefore(new_form, button_add_activity);
	new_form.querySelector("select").value = "";
	total_forms.setAttribute("value", `${form_count+1}`);
}

button_add_activity.addEventListener("click", add_new_form);

function delete_form(event) {
	if (!event.target.classList.contains("delete-activity")) return;
	event.preventDefault();
	if (form_count == 0) {
		// don't delete the first element
		activity_form[0].querySelector("select").value = "";
		return;
	}
	event.target.parentElement.remove();
	form_count--;
	total_forms.setAttribute("value", `${form_count+1}`);
	// update form numbers
	let count = 0;
	for (const form of activity_form) {
		// the replace changes the field value
		// so we save and restore it
		const select = form.querySelector("select");
		const value = select.value;
		form.innerHTML = form.innerHTML.replace(form_regex, `form-${count++}-`);
		form.querySelector("select").value = value;
	}
}

main_form.addEventListener("click", delete_form);
	</script>
{% endblock %}
